# OSX
.DS_Store

# Emacs
*~
\#*
.\#*
.~lock*

# Python
*.py[cod]
*_flymake.py
.cache
.virtualenv

# npm
node_modules

# Locale
*.mo

# Database
*.sqlite3
*.p

# Test
.coverage
htmlcov

# tmp
pergenie/tmp/

# Settings
pergenie/pergenie/settings/common.py
pergenie/pergenie/settings/development.py
pergenie/pergenie/settings/staging.py

# Daemon
*.pid
*.log

# vendor
pergenie/static/vendor

# pyfasta
*.gdx

# ansible/vagrant
hosts
.vagrant
