# OSX
.DS_Store

# Emacs
*~
\#*
.\#*
.~lock*

# Python
*.py[cod]
*_flymake.py

# Locale
*.mo

# Database
*.sqlite3
*.p

# Test
.coverage
htmlcov

# Settings
pergenie/pergenie/settings/common.py
pergenie/pergenie/settings/develop.py
pergenie/pergenie/settings/staging.py

# Daemon
*.pid
*.log

# vendor
pergenie/static/vendor

# pyfasta
*.gdx
