# OSX
.DS_Store

# Emacs
*~
\#*
.\#*
.~lock*

# Python
*.py[cod]
*_flymake.py
.cache
.virtualenv

# npm
node_modules

# Locale
*.mo

# Database
*.sqlite3
*.p

# Test
.coverage
htmlcov

# tmp
pergenie/tmp/

# Daemon
*.pid
*.log

# vendor
pergenie/static/vendor

# pyfasta
*.gdx

# ansible/vagrant
hosts
.vagrant

# Settings
pergenie/pergenie/settings/development.py
pergenie/deploy/playbook/group_vars/staging
pergenie/deploy/playbook/group_vars/production

# bin
bin/
!bin/vcf-to-tsv
