Django==1.4.1
Fabric==1.6.0
Jinja2==2.6
Werkzeug==0.8.3
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.12
celery==3.0.9
distribute==0.6.36
django-celery==3.0.9
django-jinja==0.3
django-registration==0.8
kombu==2.4.6
lockfile==0.9.1
nose==1.3.0
numpy==1.6.2
paramiko==1.10.1
pycrypto==2.6
pyfasta==0.4.5
pymongo==2.5
python-daemon==1.6
python-dateutil==1.5
python-magic==0.4.3
requests==0.14.1
termcolor==1.1.0
wsgiref==0.1.2
