Django>=1.4,<1.4.99
pymongo>=2.7

celery
django-celery
Fabric
Jinja2
LEPL
MySQL-python
Pygments
South
Werkzeug
amqplib
anyjson
billiard
distribute
dj-database-url
docutils
kombu
lockfile
longerusername
numpy
paramiko
psutil
psycopg2
pycrypto
pyfasta
python-dateutil
python-magic
python-memcached
requests
termcolor

git+https://github.com/knmkr/pymongo_genomes.git
