{% extends "layout/layout_no_nav.html" %}
{% block title %}Activation Completed{% endblock %}
{% block description %}{% endblock %}
{% load staticfiles %}
{% load extras %}
{% load i18n %}

{% block main %}
<section id="main">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="login-container center">

          <div class="title">
            <a href="/"><img class="login_logo" src="{% static 'img/logo.png' %}"></a>
          </div>

          <h4>{% trans "Activation completed" %}</h4>

          <p>{% trans "Thanks for signing up! Now you can " %}</p>
          <p><b><a href="/login/">{% trans "Login" %}</a></b></p>
          <p>{% trans " and enjoy perGENIE!" %}</p>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
