{% extends "layout/layout_no_nav.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block description %}{% endblock %}

{% block main %}
<section id="main">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="login-container center">

          <div class="title">
            <a href="/"><img class="login_logo" src="{% static 'img/logo.png' %}"></a>
          </div>

          <form class="login-form" role="form" action="/login/" method="POST">
            {% csrf_token %}

            <ul class="fields-list">
              <li>
                <i class="icon-envelope-alt" style="float: left;"></i>
                <input id="email" name="email" placeholder="Email" type="email">
              </li>
              <li>
                <i class="icon-key"></i>
                <input id="password" name="password" placeholder="Password" type="password">
              </li>
            </ul>

            <legend></legend>  <!--  -->
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="actions clearfix">
              <input class="btn btn-primary btn-large login-btn" name="submit" type="submit" value="{% trans 'Login' %}">
            </div>

          </form>

          <a href="/register/">{% trans "Create an account." %}</a>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
