{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
  {% include 'layout/_aa.html' %}
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}{% endblock %} | perGENIE</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/introjs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/wood-admin/stylesheets/application.css' %}">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.MultiFile.js' %}"></script>
    <script src="{% static 'js/jquery.peity.js' %}"></script>
    <script src="{% static 'js/intro.js' %}"></script>
    <script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <script src="{% static 'js/pergenie.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block js %}{% endblock %}
  </head>

  <body id="body">
    {% include 'layout/_nav.html' %}

    {% block main %}{% endblock %}

    {% include 'layout/_footer.html' %}
  </body>
</html>
