{% extends "layout.html" %}
{% block title %}Population{% endblock %}
{% block description %}population{% endblock %}
{% load staticfiles %}
{% load extras %}

{% block main_container %}
<div id="main_container" class="span14">
  <section id="main">

    <div class="container">

      <div class="row-fluid">
        <div class="span12">
          <div class="content-box transparent">
            <div class="padded">
              <h2>Population</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- alerts -->
      {% if msg %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Information:</strong> {{ msg }}
      </div>
      {% endif %}

      {% if err %}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ err }}
      </div>
      {% endif %}

      <div class="row-fluid">
        <div class="span14">
          <div class="content-box">
            <div class="content-box-header">
              <icon class="icon-globe"></icon>
            </div>

            <div class="padded">
              <div class="row-fluid">
                <div class="span14">
                  <p>PCAベースのAncestral Analysisをして，</p>
                  <ul>
                    <li>地図</li>
                    <li>PCAの主成分空間の二次元・三次元上の民族クラスタにプロットした図</li>
                  </ul>
                  <p>などを載せる予定です．</p>


                  <hr>
                  <p>Scale: {{ scale }}</p>

                  <hr>
                  <p>People:</p>
                  {% for one in people %}
                  <p>{{ one }}</p>
                  {% endfor %}

                  <hr>
                  <p>Person:</p>
                  <p>{{ person }}</p>

                  <div id="pca-chart" style="width: 500px; height: 500px;"></div>
                  <div id="pca-map" style="height: 500px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<style type="text/css">
#pca-map label { width: auto; display: inline; }
#pca-map img { max-width: none; }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/highcharts-more.js' %}"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHIY3O4PNfRsWEdFOxyqPJZntQByf5CZQ&sensor=true"></script>
<script type="text/javascript">
(function () {

  ///
  /// pca data
  ///

  {% regroup people by 1 as people_groups %}

  var pcaData = {
    "global": [
      {% for pos, label in people %}{ position: [{{ pos.0 }}, {{ pos.1 }}], label: "{{ label }}" },
      {% endfor %}
    ],
  }; // var pcaData

  var regionMap = {
    "JPT": {
      name: "Japanese in Tokyo, Japan",
      category: "EastAsia",
      location: "Tokyo, Japan",
      center: [35.689544, 139.69171],
      radius: 200000 * 4
    },
    "CHB": {
      name: "CHB Han Chinese in Beijing, China",
      category: "EastAsia",
      location: "Beijing, China",
      center: [39.904018, 116.407535],
      radius: 200000 * 4
    },
    "CHS": {
      name: "Han Chinese South",
      category: "EastAsia",
      location: "Hu Nan and Fu Jian Province, China",
      center: [28.115594, 112.986317],
      radius: 200000 * 4
    },
    "CEU": {
      name: "Utah residents with ancestry from northern and western Europe",
      category: "Europe",
      location: "Utah, USA",
      center: [39.320986, -111.093727],
      radius: 200000 * 4
    },
    "IBS": {
      name: "Iberian Populations in Spain",
      category: "Europe",
      location: "Spain",
      center: [40.416778, -3.703783],
      radius: 200000 * 4
    },
    "GBR": {
      name: "British from England and Scotland",
      catrgory: "Europe",
      location: "Great Britain",
      center: [51.51124, -0.119765],
      radius: 200000 * 4
    },
    "FIN": {
      name: "Finnish in Finland",
      category: "Europe",
      location: "Finland",
      center: [60.173346, 24.941048],
      radius: 200000 * 4
    },
    "TSI": {
      name: "Toscani in Italia",
      category: "Europe",
      location: "Italy",
      center: [41.894611, 12.48358],
      radius: 200000 * 4
    },
    "ASW": {
      name: "African Ancestry in SW USA",
      category: "Africa",
      location: "Southwest, USA",
      center: [36.999023, -109.045163],
      radius: 200000 * 4
    },
    "YRI": {
      name: "Yoruba in Ibadan",
      category: "Africa",
      location: "Webuye, Kenya",
      center: [0.616939, 34.767013],
      radius: 200000 * 4
    },
    "LWK": {
      name: "Luhya in Webuye, Kenya",
      category: "Africa",
      location: "Ibadan, Nigeria",
      center: [7.396451, 3.916702],
      radius: 200000 * 4
    },
    "MXL": {
      name: "Mexican Ancestry in Los Angeles, CA, USA",
      category: "Americas",
      location: "Los Angeles, USA",
      center: [34.052237, -118.24368],
      radius: 200000 * 4
    },
    "PUR": {
      name: "Puerto Ricans in Puerto Rico",
      category: "Americas",
      location: "Puerto Rico",
      center: [18.466482, -66.105691],
      radius: 200000 * 4
    },
    "CLM": {
      name: "Colombians in Medellín, Colombia",
      category: "Americas",
      location: "Medellin, Colombia",
      center: [6.236125, -75.574769],
      radius: 200000 * 4
    }
  }; // var regionMap

  var colorMap = {
    "EastAsia": "#167833",
    "Europe": "#2A3D93",
    "Africa": "#773518",
    "Americas":  "#E7311B",
    "JPT": "#167833",
    "CHB": "#A2C928",
    "CHS": "#5BB335",
    "CEU": "#2A3D93",
    "IBS": "#597BBF",
    "GBR": "#5EC3D5",
    "FIN": "#24B2BC",
    "TSI": "#1E1D68",
    "ASW": "#773518",
    "YRI": "#E8E699",
    "LWK": "#BEA378",
    "MXL": "#E7311B",
    "PUR": "#F69216",
    "CLM": "#EF6A39",
  }; // var colorMap

  var categoryHierarchy = {
    "EastAsia": {
      "JPT": {},
      "CHB": {},
      "CHS": {},
    },
    "Europe": {
      "CEU": {},
      "IBS": {},
      "GBR": {},
      "FIN": {},
      "TSI": {},
    },
    "Africa": {
      "ASW": {},
      "YRI": {},
      "LWK": {},
    },
    "Americas": {
      "MXL": {},
      "PUR": {},
      "CLM": {},
    }
  }; // var categoryHierarchy


  //
  // pca-chart
  //

  var isRoot = true;
  var pcaChart = null;

  var pcaChartOpts = {
    chart: {
      renderTo: "pca-chart",
      type: "bubble",
      plotBorderWidth: 1,
      zoomType: "xy",
      events: {
        click: function (e) {
          if (!isRoot) {
            isRoot = true;
            focusTo(getKeys(categoryHierarchy));
          }
        }
      }
    },
    title: {
      text: "TODO"
    },
    subtitle: {
      text: "TODO"
    },
    xAxis: {
      gridLineWidth: 1,
      title: { text: "PC1" }
    },
    yAxis: {
      gridLineWidth: 2,
      title: { text: "PC2" }
    },
    plotOptions: {
      bubble: {
        minSize: "10px",
        maxSize: "10px",
      }
    },
    tooltip: {
      formatter: function () {
        return "<b>" + this.series.name; //+ "</b><br>" + this.x + ", " + this.y;
      }
    },
  }; // var chartOpts


  ///
  /// pca-map
  ///

  var pcaMap = null;  
  var pcaMapCircles = {};
  var pcaMapMarkers = {};

  var pcaMapOpts = {
    center: new google.maps.LatLng(35.689544, 139.69171),
    zoom: 2,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
  };


  ///
  ///
  ///

  var resolveBelongingCategory = function (label, rootCategories) {
    if (label in rootCategories) return [label];

    for (var x in rootCategories) {
      var result = resolveBelongingCategory(label, rootCategories[x]);
      if (result.length > 0) return result.concat([x]);
    }

    return [];
  }; // var resolveBelongingCategory

  var resolveTargetCategory = function (belongingCategories, targetCategories) {
    for (var i = 0; i < belongingCategories.length; i++)
      if (targetCategories.indexOf(belongingCategories[i]) >= 0)
        return belongingCategories[i];

    return null;
  }; // var resolveTargetCategory

  var categorizePcaData = function (targetCategories, targetPcaData) {
    var categorizedPcaData = {};

    //
    $.each(targetCategories, function () {
      var name = "" + this;

      categorizedPcaData[this] = {
        name: name,
        data: [],
        marker: {
          fillColor: colorMap[name],
          lineColor: colorMap[name],
          lineWidth: 0,
        },
        events: {          
          click: function (e) {
            isRoot = false;
            focusTo(getChildCategories(name, categoryHierarchy));
          },
          mouseOver: function (e) {
            var b = [name];
            $.each(getChildCategories(name, categoryHierarchy), function () {  
              b = b.concat(resolveBelongingCategory("" + this, categoryHierarchy));
            });

            highlightPcaMapCircles(b);
          },
          mouseOut: function (e) {
            unhighlightPcaMapCircles();
          },
        },
        dataLabels: [],
      };
    });

    //
    $.each(targetPcaData, function () {
      var belongingCategories = resolveBelongingCategory(this.label, categoryHierarchy);
      var targetCategory = resolveTargetCategory(belongingCategories, targetCategories);
      if (targetCategory == null) return;

      var pos = this.position;
      categorizedPcaData[targetCategory].data.push([pos[0], pos[1], 1]);

      var flag = categorizedPcaData[targetCategory].dataLabels.indexOf(this.label) >= 0;
      if (!flag) categorizedPcaData[targetCategory].dataLabels.push(this.label);
    });

    //
    var result = [];
    $.each(categorizedPcaData, function (key, data) {
      if (data.data.length > 0) result.push(data);
    });

    return result;
  }; // var categorizedPcaData

  var getDataLabels = function (categorizedPcaData) {
    var result = [];

    $.each(categorizedPcaData, function () {
      result = result.concat(this.dataLabels);
    });

    return result;
  }; // getDataLabels

  var getKeys = function (targetHash) {
    return $.map(targetHash, function (element, index) { return index; });
  }; // var getKeys

  var getChildCategories = function (parentCategoryName, rootCategories) {
    for (var x in rootCategories) {
      if (x == parentCategoryName) {
        return getKeys(rootCategories[x]);
      } else {
        var result = getChildCategories(parentCategoryName, rootCategories[x]);
        if (result.length > 0) return result;
      }
    }

    return [];
  }; // getChildCategories


  ///
  ///
  ///

  var focusTo = function (categories) {
    //
    if (categories == null || categories.length == 0) return;

    // data
    var categorizedPcaData = categorizePcaData(categories, pcaData["global"]);
    var dataLabels = getDataLabels(categorizedPcaData);

    if (categorizedPcaData == null || categorizedPcaData.length == 0) return;

    // pca chart
    var n = pcaChart.series.length;
    for (var i = 0; i < n; i++) pcaChart.series[0].remove();

    $.each(categorizedPcaData, function () {
      pcaChart.addSeries(this);
    });

    // pca map
    $.each(pcaMapCircles, function (key, circle) { circle.setMap(null); });
    $.each(pcaMapMarkers, function (key, marker) { marker.setMap(null); });

    $.each(dataLabels, function () {
      var dataLabel = "" + this;
      var region = regionMap[dataLabel];

      var belongingCategories = resolveBelongingCategory(dataLabel, categoryHierarchy);
      var targetCategory = resolveTargetCategory(belongingCategories, categories);
      var color = colorMap[targetCategory];

      var circle = new google.maps.Circle({
        strokeColor: color,
        strokeOpacity: 0.4,
        strokeWeight: 1,
        fillColor: color,
        fillOpacity: 0.4,
        map: pcaMap,
        center: new google.maps.LatLng(region.center[0], region.center[1]),
        radius: region.radius,
      });

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(region.center[0], region.center[1]),
        title: region.name,
        map: pcaMap,
      });

      var infoWindow = new google.maps.InfoWindow({
        content: "<b>" + dataLabel + "</b><br>" + region.name
      });

      // event listeners
      google.maps.event.addListener(circle, "mouseover", function () {
        infoWindow.open(pcaMap, marker);
      });

      google.maps.event.addListener(circle, "mouseout", function () {
        infoWindow.close();
      });

      // google.maps.event.addListener(circle, "click", function () {
      //
      // });

      // google.maps.event.addListener(marker, "click", function () {
      //
      // });

      //
      pcaMapCircles[dataLabel] = circle;
      pcaMapMarkers[dataLabel] = marker;
    });
  }; // focusTo

  var lastHightlightTimer = null;

  var highlightPcaMapCircles = function (dataLabels) {
    if (lastHightlightTimer != null) {
      console.log("clearTimeout: " + lastHightlightTimer);

      clearTimeout(lastHightlightTimer);
      lastHightlightTimer = null;
    }

    $.each(pcaMapCircles, function (label, circle) {
      var opacity = dataLabels.indexOf("" + label) >= 0 ? 0.8 : 0.2;

      circle.setOptions({
        strokeOpacity: opacity,
        fillOpacity: opacity,
      });
    });
  }; // var highlightPcaMapCircles

  var unhighlightPcaMapCircles = function () {
    if (lastHightlightTimer != null)
      clearTimeout(lastHightlightTimer);

    lastHightlightTimer = setTimeout(function () {
      lastHightlightTimer = null;
      
      $.each(pcaMapCircles, function (label, circle) {
        circle.setOptions({
          strokeOpacity: 0.4,
          fillOpacity: 0.4,
        });
      });
    }, 1000);
  }; // // var highlightPcaMapCircles

  ///
  ///
  ///

  $(document).ready(function () {
    pcaChart = new Highcharts.Chart(pcaChartOpts);
    pcaMap = new google.maps.Map(document.getElementById("pca-map"), pcaMapOpts);

    isRoot = true;
    focusTo(getKeys(categoryHierarchy));
  }); // $(document).ready
})();
</script>
{% endblock %}
