{% extends "layout.html" %}
{% block title %}Population{% endblock %}
{% block description %}population{% endblock %}
{% load staticfiles %}
{% load extras %}

{% block main_container %}
<div id="main_container" class="span14">
  <section id="main">

    <div class="container">

      <div class="row-fluid">
        <div class="span12">
          <div class="content-box transparent">
            <div class="padded">
              <h2>Population</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- alerts -->
      {% if msg %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Information:</strong> {{ msg }}
      </div>
      {% endif %}

      {% if err %}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ err }}
      </div>
      {% endif %}

      <div class="row-fluid">
        <div class="span14">
          <div class="content-box">
            <div class="content-box-header">
              <icon class="icon-globe"></icon>
            </div>

            <div class="padded">
              <div class="row-fluid">
                <div class="span14">
                  <p>PCAベースのAncestral Analysisをして，</p>
                  <ul>
                    <li>地図</li>
                    <li>PCAの主成分空間の二次元・三次元上の民族クラスタにプロットした図</li>
                  </ul>
                  <p>などを載せる予定です．</p>


                  <hr>
                  <p>Scale: {{ scale }}</p>

                  <hr>
                  <p>People:</p>
                  {% for one in people %}
                  <p>{{ one }}</p>
                  {% endfor %}

                  <hr>
                  <p>Person:</p>
                  <p>{{ person }}</p>

                  <div id="pca-chart" style="width: 500px; height: 500px;"></div>
                  <div id="pca-map" style="height: 500px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<style type="text/css">
#pca-map label { width: auto; display: inline; }
#pca-map img { max-width: none; }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/highcharts-more.js' %}"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHIY3O4PNfRsWEdFOxyqPJZntQByf5CZQ&sensor=true"></script>
<script type="text/javascript">
(function () {

  ///
  /// pca data
  ///

  {% regroup people by 1 as people_groups %}

  // var pcaData = [
  //   {% for people_group in people_groups %}
  //   {
  //     name: "{{ people_group.grouper }}",
  //     data: [
  //         {% for pos, label in people_group.list %}[{{ pos.0 }}, {{ pos.1 }}, 1],
  //         {% endfor %}
  //     ],
  //     parent: null,
  //     events: {
  //       click: function (e) {
  //         var childData = findPcaDataByParent("{{ people_group.grouper }}");
  //         if (childData.length > 0) {
  //           savePcaData();
  //           removePcaData();
  //         }
  //       }
  //     }
  //   },
  //   {% endfor %}
  //   {
  //     name: "Person",
  //     data: [
  //         [{{ person.0 }}, {{ person.1 }}, 1]
  //     ],
  //   }
  // ]; // var pcaData


  var pcaData = {
    "global": [
      {% for pos, label in people %}{ position: [{{ pos.0 }}, {{ pos.1 }}], label: "{{ label }}" },
      {% endfor %},
    ],
  };

  var regionMap = {
    "JPT": {
      name: "Japanese in Tokyo, Japan",
      category: "EastAsia",
      location: "Tokyo, Japan",
      center: [35.689544, 139.69171],
      radius: 200000 * 4
    },
    "CHB": {
      name: "CHB Han Chinese in Beijing, China",
      category: "EastAsia",
      location: "Beijing, China",
      center: [39.904018, 116.407535],
      radius: 200000 * 4
    },
    "CHS": {
      name: "Han Chinese South",
      category: "EastAsia",
      location: "Hu Nan and Fu Jian Province, China",
      center: [28.115594, 112.986317],
      radius: 200000 * 4
    },
    "CEU": {
      name: "Utah residents with ancestry from northern and western Europe",
      category: "Europe",
      location: "Utah, USA",
      center: [39.320986, -111.093727],
      radius: 200000 * 4
    },
    "IBS": {
      name: "Iberian Populations in Spain",
      category: "Europe",
      location: "Spain",
      center: [40.416778, -3.703783],
      radius: 200000 * 4
    },
    "GBR": {
      name: "British from England and Scotland",
      catrgory: "Europe",
      location: "Great Britain",
      center: [51.51124, -0.119765],
      radius: 200000 * 4
    },
    "FIN": {
      name: "Finnish in Finland",
      category: "Europe",
      location: "Finland",
      center: [60.173346, 24.941048],
      radius: 200000 * 4
    },
    "TSI": {
      name: "Toscani in Italia",
      category: "Europe",
      location: "Italy",
      center: [41.894611, 12.48358],
      radius: 200000 * 4
    },
    "ASW": {
      name: "African Ancestry in SW USA",
      category: "Africa",
      location: "Southwest, USA",
      center: [36.999023, -109.045163],
      radius: 200000 * 4
    },
    "YRI": {
      name: "Yoruba in Ibadan",
      category: "Africa",
      location: "Webuye, Kenya",
      center: [0.616939, 34.767013],
      radius: 200000 * 4
    },
    "LWK": {
      name: "Luhya in Webuye, Kenya",
      category: "Africa",
      location: "Ibadan, Nigeria",
      center: [7.396451, 3.916702],
      radius: 200000 * 4
    },
    "MXL": {
      name: "Mexican Ancestry in Los Angeles, CA, USA",
      category: "Americas",
      location: "Los Angeles, USA",
      center: [34.052237, -118.24368],
      radius: 200000 * 4
    },
    "PUR": {
      name: "Puerto Ricans in Puerto Rico",
      category: "Americas",
      location: "Puerto Rico",
      center: [18.466482, -66.105691],
      radius: 200000 * 4
    },
    "CLM": {
      name: "Colombians in Medellín, Colombia",
      category: "Americas",
      location: "Medellin, Colombia",
      center: [6.236125, -75.574769],
      radius: 200000 * 4
    }
  }; // var regionMap

  var colorMap = {
    "EastAsia": "#167833",
    "Europe": "#2A3D93",
    "Africa": "#773518",
    "Americas":  "#E7311B",
    "JPT": "#167833",
    "CHB": "#A2C928",
    "CHS": "#5BB335",
    "CEU": "#2A3D93",
    "IBS": "#597BBF",
    "GBR": "#5EC3D5",
    "FIN": "#24B2BC",
    "TSI": "#1E1D68",
    "ASW": "#773518",
    "YRI": "#E8E699",
    "LWK": "#BEA378",
    "MXL": "#E7311B",
    "PUR": "#F69216",
    "CLM": "#EF6A39",
  }; // var colorMap


  //
  // pca-chart
  //

  var pcaChart = null;
  var undoStack = [];

  var removePcaData = function () {
    var n = pcaChart.series.length;
    for (var i = 0; i < n; i++) pcaChart.series[0].remove();
  }; // var removePcaData

  var savePcaData = function () {
    var currentData = [];
    $.each(pcaChart.series, function () {
      currentData.push(this.name);
    });

    undoStack.push(currentData);
  }; // var savePcaData

  var restorePcaData = function () {
    if (undoStack.length == 0) return;

    removePcaData();

    $.each(undoStack.pop(), function () {
      var pcaDataName = this;
      $.each(pcaData, function () {
        if (this.name == pcaDataName) pcaChart.addSeries(this);
      });
    });
  }; // var restorePcaData

  var pcaChartOpts = {
    chart: {
      renderTo: "pca-chart",
      type: "bubble",
      plotBorderWidth: 1,
      zoomType: "xy",
      events: {
        click: function (e) {
          restorePcaData();
        }
      }
    },
    title: {
      text: "TODO"
    },
    subtitle: {
      text: "TODO"
    },
    xAxis: {
      gridLineWidth: 1,
      title: { text: "PC1" }
    },
    yAxis: {
      gridLineWidth: 2,
      title: { text: "PC2" }
    },
    plotOptions: {
      bubble: {
        minSize: "10px",
        maxSize: "10px",
      }
    },
    tooltip: {
      formatter: function () {
        return "<b>" + this.series.name + "</b><br>" + this.x + ", " + this.y;
      }
    },
  }; // var chartOpts


  ///
  /// pca-map
  ///

  var pcaMap = null;
  var pcaMapOpts = {
    center: new google.maps.LatLng(35.689544, 139.69171),
    zoom: 2,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
  };


  ///
  ///
  ///

  var categorizedPcaData = {};
  var regionColorMap = {};

  $.each(pcaData["global"], function () {
    var region = regionMap[this.label];
    if (region == undefined) return;

    // categorizedPcaData
    var category = region.category;
    var flag = category in categorizedPcaData;

    if (!flag) {
      categorizedPcaData[category] = {
        name: category,
        data: [],
        marker: {
          fillColor: colorMap[category],
        },
        events: {
          click: function (e) {
            // TODO
          }
        }
      };
    }

    var pos = this.position;
    categorizedPcaData[category].data.push([pos[0], pos[1], 1]);

    // regionColorMap
    flag = this.label in regionColorMap;
    if (!flag) {
      regionColorMap[this.label] = colorMap[category];
    }
  });


  $(document).ready(function () {
    // chart
    pcaChart = new Highcharts.Chart(pcaChartOpts);

    $.each(categorizedPcaData, function (catrgory, data) {
      pcaChart.addSeries(data);
    });

    // map
    pcaMap = new google.maps.Map(document.getElementById("pca-map"), pcaMapOpts);

    $.each(regionColorMap, function (category, color) {
      var region = regionMap[category];

      var circle = new google.maps.Circle({
        strokeColor: color,
        strokeOpacity: 0.4,
        strokeWeight: 1,
        fillColor: color,
        fillOpacity: 0.4,
        map: pcaMap,
        center: new google.maps.LatLng(region.center[0], region.center[1]),
        radius: region.radius,
      });

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(region.center[0], region.center[1]),
        title: region.name,
        map: pcaMap,
      });

      var infoWindow = new google.maps.InfoWindow({
        content: "<b>" + category + "</b><br>" + region.name
      });

      // event listeners
      google.maps.event.addListener(circle, "mouseover", function () {
        infoWindow.open(pcaMap, marker);
      });

      google.maps.event.addListener(circle, "mouseout", function () {
        infoWindow.close();
      });

      google.maps.event.addListener(circle, "click", function () {

      });

      google.maps.event.addListener(marker, "click", function () {

      });
    });
  }); // $(document).ready
})();
</script>
{% endblock %}
