<IfModule mod_wsgi.c>

    LoadModule wsgi_module modules/mod_wsgi.so

    # Location of UNIX sockets
    # https://code.google.com/p/modwsgi/wiki/ConfigurationIssues#Location_Of_UNIX_Sockets
    WSGISocketPrefix run/wsgi

    WSGIDaemonProcess {{ http_server_host }} user=apache group=apache python-path={{ app_root }}:{{ virtualenv_site_packages }}
    WSGIProcessGroup {{ http_server_host }}

    WSGIScriptAlias / {{ wsgi_dir }}/wsgi.py

    <Directory {{ wsgi_dir }}>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

    <Location /internal>
        Require ip 127.0.0.1
        Require ip 192.168.0.0/16
    </Location>

</IfModule>
