{% extends "layout/authentication.html" %}
{% block title %}404 Page not found{% endblock %}
{% block description %}404 Page not found{% endblock %}
{% load staticfiles %}
{% load extras %}
{% load i18n %}

{% block cookie_id %}404{% endblock %}

{% block main %}
<section id="main">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 center">
        <div class="error-container center">
          <h1 class="transparent">#404</h1>

          <div class="error-details">
            {% trans "Sorry, the page you requested may have been moved or deleted." %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
