{% extends "frontend_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}500 Internal Server Error{% endblock %}
{% block cookie_id %}500{% endblock %}
{% block description %}500 Internal Server Error{% endblock %}

{% block main_container %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4"><a href="{% url apps.frontend.views.index %}"><img class="login_logo" src="{% static 'images/logo.png' %}"></a></div>
  </div>
  <div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">500 Internal Server Error</h2>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">
            {% trans "Sorry, the server encountered an internal error or misconfiguration and was unable to complete your request." %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--/.fluid-container-->

{% endblock %}
