{% extends "layout/authentication.html" %}
{% block title %}500 Internal Server Error{% endblock %}
{% block description %}500 Internal Server Error{% endblock %}
{% load staticfiles %}
{% load extras %}
{% load i18n %}

{% block cookie_id %}500{% endblock %}

{% block main %}
<section id="main">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 center">
        <div class="error-container center">
          <h1 class="transparent">#500</h1>

          <div class="error-details">
            {% trans "Sorry, the server encountered an internal error or misconfiguration and was unable to complete your request." %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
