{% load staticfiles %}
{% load extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>


  <body>
    <link href="{% static 'stylesheets/application.css' %}" media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript" language="javascript" src="{% static 'javascripts/jquery.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'javascripts/jquery-ui.min.js' %}"></script>


        <script type="text/javascript" src="{% static 'javascripts/highcharts/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/highcharts/modules/exporting.js' %}"></script>

    <div id="container"></div>



    <script type="text/javascript">
      $(function () {
      var chart;
      $(document).ready(function() {
      chart = new Highcharts.Chart({
      chart: {
      renderTo: 'container',
      type: 'bar'
      },
      title: {
      text: 'log(Risk relative to average population)'
      },
      xAxis: {
      categories: [{% for trait in risk_traits %}"{% autoescape off %}{{ trait }}{% endautoescape %}",{% endfor %}],
      title: {
      text: null
      }
      },
      yAxis: {
      max: 1,
      min: -1,
      title: {
      text: '[log(RR)]',
      align: 'high'
      }
      },
      tooltip: {
      formatter: function() {
      return ''+
      this.x+': '+ this.y + '[log10] '+ Math.pow(10, this.y).toFixed(3) +'[real] ';
      }
      },
      plotOptions: {
      series: {
      shadow:true,
      cursor:'pointer',
      point: {
      events: {
      click: function() {
      location.href = this.options.url;
      <!-- window.open(this.options.url); -->
      }
      }
      }
      },
      bar: {
      dataLabels: {
      enabled: false
      }
      }
      },
      credits: {
      enabled: false
      },

      legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'top',
      x: -50,
      y: 50,
      floating: true,
      borderWidth: 1,
      backgroundColor: '#FFFFFF',
      shadow: true,
      enabled: false
      },

      series: [
      {% if tmp_infos|length > 1 %}
      {
      name: '{ tmp_infos.1.name }}',
      data: [{% for risk_value in risk_values.1 %}
      {y: {{ risk_value }},
      color: {% if risk_value < 0 %}'#2cf177'{% elif risk_value == 0 %}'#8a8a8a'{% else %}'#f1772c'{% endif %},
                                url:"{% url apps.riskreport.views.trait trait=risk_traits|listvalue:forloop.counter0 file_name=tmp_infos.1.name %}"},
                                {% endfor %}],
                                },
                                {
                                name: '{{ tmp_infos.0.name }}',
                                data: [{% for risk_value in risk_values.0 %}
                                {y: {{ risk_value }},
                                color: {% if risk_value < 0 %}'#2ca6f1'{% elif risk_value == 0 %}'#8a8a8a'{% else %}'#f12ca6'{% endif %},
                                                          url:"{% url apps.riskreport.views.trait trait=risk_traits|listvalue:forloop.counter0 file_name=tmp_infos.0.name %}"},
                                                          {% endfor %}],
                                                          },


                                                          {% else %}
                                                          {
                                                          name: '{{ tmp_infos.0.name }}',
                                                          data: [{% for risk_value in risk_values.0 %}
                                                          {y: {{ risk_value }},
                                                          color: {% if risk_value < 0 %}'#2ca6f1'{% elif risk_value == 0 %}'#8a8a8a'{% else %}'#f12ca6'{% endif %},
                                                                                    url:"{% url apps.riskreport.views.trait trait=risk_traits|listvalue:forloop.counter0 file_name=tmp_infos.0.name %}"},
                                                                                    {% endfor %}],
                                                                                    },
                                                                                    {% endif %}
                                                                                    ]
                                                                                    });
                                                                                    });
                                                                                    });
                                                                                    </script>


  </body>
</html>
