{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block description %}about perGENIE{% endblock %}

{% block main_container %}          
<div id="main_container" class="span10">

  <!-- <\!-- Breadcrumb -\-> -->
  <!-- <div class="row-fluid"> -->
  <!--   <div class="span12"> -->
  <!--     <ul class="breadcrumb"> -->
  <!--       <li class="active">Catalog</li> -->
  <!--     </ul> -->
  <!--   </div><\!--/span-\-> -->
  <!-- </div> -->
            
  <!-- Content start -->                     
  <!-- Draggable Widgets start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue" id="box_1">
        <h2 class="box_head round_top">about perGENIE</h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">
            <div class="row-fluid">
              <ul class="unstyled">
                <li><h4>Credits</h4></li>
                <li>perGENIE uses data from</li>
                <ul>
                  <li><a href="http://www.genome.gov/gwastudies">The NHGRI GWAS catalog</a></li>
                  <li><a href="http://www.hapmap.org">The HapMap project</a></li>
                </ul>
                <li><h4>License</h4></li>
                <ul>
                  <li>The perGENIE is licensed under CC BY SA 3.0. ??</li>
                  <li>The data is licensed under CC0 1.0. ??</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->
  <!-- Draggable Widgets end -->
  <!-- Content end -->
</div>
{% endblock %}
