{% extends "frontend_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Activation completed{% endblock %}
{% block cookie_id %}activation_completed{% endblock %}
{% block description %}activation completed{% endblock %}

{% block main_container %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">&nbsp;</div>
    <div class="span4"><a href="{% url apps.frontend.views.index %}"><img class="login_logo" src="{% static 'images/logo.png' %}"></a></div>
  </div>
  <div class="row-fluid">
    <div class="span4">&nbsp;</div>
    <div class="span4">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">Activation completed</h2>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">

	        {% if msg %}
	        <div class="alert alert-success">{{ msg }}</div>
	        {% endif %}
            {% trans 'Thanks for signing up! Now you can <a href="/login/">log in</a> and start contributing!' %}

	        {% if err %}
	        <div class="alert alert-error">{{ err }}</div>
	        {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--/.fluid-container-->

{% endblock %}
