{% extends "layout.html" %}
{% load extras %}
{% block title %}Catalog index{% endblock %}
{% block description %}catalog of risk SNPs{% endblock %}

{% block main_container %}
<div id="main_container" class="span10">

  <!-- Breadcrumb -->
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li class="active">Catalog</li>
      </ul>
    </div><!--/span-->
  </div>

  <!-- Content start -->
  <!-- Draggable Widgets start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue" id="box_1">
        <h2 class="box_head round_top">Index</h2>
        <div class="toggle_container">
          <div class="block box_content round_bottom std_padding">
            <div class="row-fluid">
              <div class="span12 box_padding_20">

                <form action="{% url apps.catalog.views.index %}" method="get">
                  Query search: <input type="text" name="query" value="{% if query %}{{ query }}{% endif %}">
                  <input type="submit" value="search">
                </form>

                {% if msg %}
                <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  {{ msg }}
                </div>
                {% endif %}

                {% if query  %}
                Search result for query "{{ query }}"<br>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">Catalog index</h2>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">

                <table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="datatable">
                  <thead>
                    <tr>
                      <th>trait</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for trait_name in my_trait_list_underbar %}
                    <tr>
                      <td><a href="{% url apps.catalog.views.catalog trait=trait_name %}">{{ trait_name }}</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>

          </div>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->
<!-- Draggable Widgets end -->
<!-- Content end -->
</div>
{% endblock %}
