{% extends "layout.html" %}
{% block title %}Catalog {{ trait_name }}{% endblock %}
{% block description %}catalog of risk SNPs{% endblock %}
{% block cookie_id %}catalog_record{% endblock %}
{% load extras %}}
{% block main_container %}
<div id="main_container" class="span10">

  <!-- Breadcrumb -->
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="{% url apps.catalog.views.index %}">Catalog</a> <span class="divider">/</span></li>
        <li class="active">{{ trait_name }}</li>
      </ul>
    </div><!--/span-->
  </div>

  <!-- Content start -->
  <!-- Draggable Widgets start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue" id="box_1">
        <h2 class="box_head round_top">{{ trait_name }}</h2>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">
            <h3>Risk alleles</h3>

            <table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="catalog_record_table">
              <thead>
                <tr>
                  <th>rs</th>
                  <th>trait</th>
                  <th>risk allele</th>
                  <th>OR</th>
                  <th>yours</th>
                </tr>
              </thead>

              <tbody>
                {% for catalog in catalog_list %}
                {% set rs = catalog.rs %}
                <tr>
                  <td>{{ rs }}</td>
                  <td class="center">{{ catalog.trait }}</td>
                  <td class="center">{{ catalog.risk_allele }}</td>
                  <td class="center">{{ catalog.OR_or_beta }}</td>
                  <td class="center">{{ variants_map|keyvalue:rs }}</td>
                </tr>
                {% endfor %}
              </tbody>

            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
$(document).ready(function(){
  $('#catalog_record_table').dataTable({
   "bJQueryUI": true,
   "bPaginate": false,
   "bLengthChange": false,
   "bFilter": true,
   "bAutoWidth": false,
   "oLanguage": {
            "sLengthMenu": "Display _MENU_ records per page",
            "sZeroRecords": "Nothing found - sorry",
            "sInfo": "Showing _TOTAL_ records",
            "sInfoEmpty": "Showing 0 record",
            "sInfoFiltered": "(filtered from _MAX_ total records)"
   },       
   "sDom": '<"top"if>t<"bottom"lp><"clear">'
  });
});
</script>
{% endblock %}
