<html>


  <head>
</head>

<body>
<div id="container" style="height: 400px"></div>

<p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna.</p>

<h2 id="test-anchor">Nunc eu ullamcorper</h2>
<p> Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna.</p>


<script type="text/javascript">
            var chart;
            $(document).ready(function() {
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Asset Allocation'
                    },
                    subtitle: {
                        text: 'Alternative Investments'
                    },
                    tooltip: {
                        formatter: function() {
                            return '<strong>'+ this.point.name +'</strong>: '+ this.y +' %';
                        }
                    },
                    plotOptions: {
                        pie: {
                            size: '100%', 
                            allowPointSelect: true,
                            cursor: 'pointer',
                            
                            dataLabels: {
                                distance: -7,
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
                                }
                            }
                            
                        }
                    },
                   
                            
                        series: [{
                     
                        type: 'pie',
                        name: 'Browser share',
                        point: {
                          events: {
                            click: function(e) {
                               this.slice();
                               var clicked = this;
                               setTimeout(function(){
                                   location.href = clicked.config[2];
                               }, 500)
                               e.preventDefault();
                            }
                         }
                       },
                       data: [
                    ['Commodities', 6.0, '#test-anchor'],
                            ['Real Estate', 8.0, 'http://www.google.com'],
                            ['Timber', 13.0, 'http://www.google.com'],
                            ['Private Equity/Debt', 73.0, 'http://www.google.com']
                        ]
                    }]
                });
            });
</script>

</body>
</html>
