{% extends "layout.html" %}
{% load staticfiles %}
{% block title %}FAQ{% endblock %}
{% block description %}FAQ{% endblock %}

{% block main_container %}
<div id="main_container" class="span10">
  <section id="main">
    <div class="container">

      <div class="row-fluid">
        <div class="span12">
          <h2>Frequently Asked Questions (FAQ)</h2>
        </div>
      </div>

      <div class="content-box">
        <div class="content-box-header">
          <i class="icon-wrench"></i> FAQ
        </div>

              <!-- <br /> -->
        <div class="row-fluid">
          <div class="span12">
            <div class="padded">

              <li>
                <h4>How are risk values calculated in perGENIE?</h4>
                <p>See <a href="{% static 'images/snaps/methods.png' %}">Methods</a>.</p>

              </li>

            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
