{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div id="wrapper">

        <div id="header" class="area">

            <div id="bar">
                <div class="bar-line"></div>
                <div class="bar-shadow"></div>

                <div class="block">
                    <div id="logo"></div>
                </div>
            </div>

            <div id="nav">
                <div class="block">
                    <ul class="items">
                        <li><a href="/demo">DEMO</a></li>
                        <li><a href="https://api.23andme.com/" target="_blank">API INFO</a></li>
{% comment %}
                        <li><a href="https://github.com/jsh/23andme" target="_blank">SOURCE</a></li>
{% endcomment %}
                        <li><a href="https://api.23andme.com/apply/" target="_blank">APPLY</a></li>
                        {% if "access_token" in request.session.keys %}
                        <li><a href="/auth/logout">RESET DEMO</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        {% block docs %}{% endblock %}

        {% block demo %}{% endblock %}

    </div>

{% endblock %}

{% block extra_body_js %}
    <script>

    </script>
{% endblock %}
