{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>perGENIE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="pergenie, pergene">

  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'css/general.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'css/introjs.css' %}" rel="stylesheet"> -->

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Delius+Swash+Caps" rel="stylesheet" type="text/css">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a href="{% url apps.frontend.views.index %}" class="brand">perGENIE</a>
          <ul class="nav">
            <!-- <li class="active"><a href="#"></a></li> -->
            <li data-step="1" data-intro="Hello all! :) This project's called Intro.js."><a href="#">Try demo</a></li>
            <li><a href="{% url apps.frontend.views.register %}">Sign up</a></li>
            <li><a href="{% url apps.frontend.views.login %}">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="feature span12">
        <h2 class="motto"><strong>perGENIE</strong> interprets your personal genome</h2>
        <h3 class="subheader">with publicly available databases & your genetic testing data.</h3>
        <img id="feature-screenshot" src="{% static 'images/pics/feature.png' %}" alt="screenshot">
      </div>
    </div>

    <!-- <div class="row"> -->
    <!--   <div class="span12 graded center"> -->
    <!--     <p>Tell them how amazing your App is. Log in for existing users.</p> -->
    <!--   </div> -->
    <!-- </div> -->

  <!-- <div class="container"> -->
    <div class="row">
      <div class="span12 center graded">
        <a href="#" class="signup">Try demo</a>
        <a href="{% url apps.frontend.views.register %}" class="signup">Sign up now</a>
    </div>
  <!-- </div> -->
  </div>

  <div class="container">
    <h2><strong>Features</strong> .</h2>
    <h3 class="subheader">We ...</h3>
    <div class="row">
      <div class="span12 box drop-shadow">
        <div class="row">
          <article class="span6 offset1">
            <h3>HTML5 goodness, open fonts.</h3>
            <p>Kickstarter user engagement A/B testing shrink a market venture capital pitch deck. Social bookmarking group buying crowded market
              pivot onboarding freemium prototype ping pong.
              Early stage disruptive ecosystem community outreach dynamic location based strategic investor.
            </p>
          </article>
          <div class="span4">
            <img src="{% static 'images/pics/placeholder_200.png' %}" alt="placeholder" />
          </div>
        </div>
        <div class="row">
          <div class="span4 offset1">
            <img src="{% static 'images/pics/placeholder_200.png' %}" alt="placeholder" />
          </div>
          <article class="span6">
            <h3>Fully responsive design.</h3>
            <p>Accelerator photo sharing business school drop out ramen hustle crush it revenue traction platforms.
              Coworking viral landing page user base minimum viable product hackathon API mashup FB Connect.</p>
          </article>
        </div>
        <div class="row">
          <article class="span6 offset1">
            <h3>Use this as a base.</h3>
            <p>Tablet publishing HTML5 mobile first really simple syndication meetups white board walls.
              User experience iterate algorithm gamification semantic web value add market research stealth.
              Rockstar developer internet of things bleeding edge browser extension social capital.
            </p>
          </article>
          <div class="span4">
            <img src="{% static 'images/pics/placeholder_200.png' %}" alt="placeholder" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container"> -->
  <!--   <div class="row"> -->
  <!--     <div class="span12 center graded"> -->
  <!--       <a href="#" class="signup">Sign up now</a> -->
  <!--       <a href="#" class="signup">Try demo</a> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->

  <!-- <div class="container"> -->
  <!--     <h2>Final pitch.</h2> -->
  <!--     <div class="row"> -->
  <!--         <div class="span12 box"> -->
  <!--             <article class="span10 offset1"> -->
  <!--             <p>Sandboxing UDID content management system ruby on rails continuous deployment big data infographic. -->
  <!--             Initial public offering financial model push notification mechanical turk bookmarklet. -->
  <!--             Term sheet convertible note colluding bootstrapping. -->
  <!--             Cloud computing subscription model out of the box proactive solution.  </p> -->
  <!--             <p>And if you're not satisfied, you can cancel for free at any time within your 30-day trial.</p> -->
  <!--             </article> -->
  <!--         </div> -->
  <!--     </div> -->
  <!-- </div> -->

  <div class="container">
    <!-- <h3 class="subheader">Stay in touch.</h3> -->
    <div class="row">
        <div class="span12">
          <h4>About us</h4>
          <p>.</p>
          <p></p>
        </div>

    </div>
    <div class="row footer">
      <div class="span12">
        <ul class="links">
          <li><a href="#"><img src="{% static 'images/icons/twitter.png' %}" alt="twitter" /></a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">License</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <\!-- Intro.js test -\-> -->
  <!-- <script type="text/javascript" src="{% static 'js/intro.js' %}"></script> -->
  <!-- <script type="text/javascript">introJs().start()</script> -->

</body>

</html>
