{% extends "layout.html" %}
{% load extras %}
{% block title %}Library indexes{% endblock %}
{% block description %}library indexes{% endblock %}

{% block main_container %}
<div id="main_container" class="span10">

  <!-- Breadcrumb -->
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li>Library</li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top"></h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">
            
                <div class="page-header">
                  <h1>Library indexes <small>Indexes for library (database, source) which perGENIE uses for risk calculation. </small></h1>
                </div>

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Description</th>
                      <th>Source</th>
                    </tr>
                  </thead>   
                  <tbody>
                    <tr>
                      <td class="center"><a href="{% url apps.library.views.trait_index %}">Trait index</a></td>
                      <td class="center">Traits or diseases in source.</td>
                      <td class="center">
                        <span class="label label-success">GWAS Catalog</span>
                      </td>                                       
                    </tr>
                    <tr>
                      <td class="center"><a href="{% url apps.library.views.snps_index %}">SNPs index</a></td>
                      <td class="center">SNPs in source.</td>
                      <td class="center">
                        <span class="label label-success">GWAS Catalog</span>
                      </td>                                       
                    </tr>
                  </tbody>
                </table>  
                
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Content start -->
  <!-- Draggable Widgets start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue" id="box_1">
        <h2 class="box_head round_top"></h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>

        <div class="toggle_container">
          <div class="block box_content round_bottom std_padding">
            <div class="row-fluid">
              <div class="span12 box_padding_20">

                <h2>Query Search</h2>
                <div id='manual_input'>
                  <p>Input format:
                    <code><a href='#dbsnp_example' class='input_example'>dbSNP IDs</a></code>
                    <code><a href='#bed_example' class='input_example'>BED</a></code>
                    <code><a href='#vcf_example' class='input_example'>VCF</a></code></p>
                <form action="{% url apps.library.views.index %}" method="get">
                  <textarea id="input_text" name="data" rows="12" wrap="off"></textarea><br>

                  
                  
                  <input type="submit" value="Submit">


                  <!--  <input type="text" name="query" value="{% if query %}{{ query }}{% endif %}"> -->

<!--                   <textarea rows="12" id="input_text" name="queries" value="{% if queries %}{{ queries }}{% endif %}"></textarea><br> -->
<!--                   <input type="submit" value="search"> -->

                </form>
                </div>

                {% if msg %}
                <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  {{ msg }}
                </div>
                {% endif %}

                {% if query  %}
                Search result for query "{{ query }}"<br>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block js %}
<style type="text/css">
textarea{
width:90%;
height:30%;
}
</style>

<script>
var TextareaInputExample = TextareaInputExample|| {};

TextareaInputExample.fileInputs = function() {
  var $this = $(this),
      $val = $this.val(),
      valArray = $val.split('\\'),
      newVal = valArray[valArray.length-1],
      $button = $this.siblings('.button'),
      $fakeFile = $this.siblings('.file-holder');
  if(newVal !== '') {
    $button.text('File Selected:');
    if($fakeFile.length === 0) {
      $button.after('<span class="file-holder">' + newVal + '</span>');
      $button.addClass( "selected-button" );
    } else {
      $fakeFile.text(newVal);
    }
  }
};

TextareaInputExample.examples = {
'#dbsnp_example' : '# dbSNP ID example - this is a comment and will be ignored\nrs33914668\nrs35004220\nrs78077282\nrs7881236\n',
'#bed_example'   : '# BED example - this is a comment and will be ignored\n# Single nucleotides can be submitted\n1152480495248050SNP.+......\n14100705101100705102SNP.-......\nX146993387146993388SNP.-......\nX5504161755041618SNP.+......\n# Coordinate ranges can be submitted\n3128210000128212040chromosomal_region.+......\n1152469005247000chromosomal_region.-......\n191299523812998702chromosomal_region.-......\n',
'#vcf_example'   : '# VCF example - this line is a comment and will be ignored\n##fileformat=VCFv4.0\n##phasing=partial\n##INFO=<ID=NS,Number=1,Type=Integer,Description="Number of Samples With Data">\n##INFO=<ID=DP,Number=1,Type=Integer,Description="Total Depth">\n##FORMAT=<ID=GT,Number=1,Type=String,Description="Genotype">\n##FORMAT=<ID=GQ,Number=1,Type=Integer,Description="Genotype Quality">\n##FORMAT=<ID=DP,Number=1,Type=Integer,Description="Read Depth">\n##FORMAT=<ID=HQ,Number=2,Type=Integer,Description="Haplotype Quality">\nX53101684rs7881236CT.PASSNS=3;DP=14GT:GQ:DP:HQ0|0:49:3:58,500|1:3:5:65,30/0:41:3\n115248050rs35004220GA.PASSNS=3;DP=9GT:GQ:DP0/1:35:40/2:17:21/1:40:3\n14100705102.GC.PASSNS=3;DP=11 GT:GQ:DP:HQ0|0:54:7:56,600|0:48:4:51,510/0:61:2\n',
};

$(function() {
                  $( "[tip]" ).tooltip();
                  $("#help_tabs").tabs();
              $( "input:submit, span.button" ).button();
              $('.file-wrapper input[type=file]').bind('change focus click', TextareaInputExample.fileInputs);
              $('.file-wrapper input[type=file]').bind( "mouseenter", function() {
                      $button = $(this).siblings('.button');
                  $button.addClass( "ui-state-hover" );
              })
              .bind( "mouseleave", function() {
                      $button = $(this).siblings('.button');
              $button.removeClass( "ui-state-hover" );
              });
              $('.input_example').each(function(){
              $(this).bind('click', function(){
                  var link = $(this).attr('href');
              $('#input_text').val(TextareaInputExample.examples[link]);
              });
              });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#library_table').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "iDisplayLength": 30,
    "oLanguage": {
            "sZeroRecords": "Nothing found - sorry",
            "sInfo": "Showing _START_ to _END_ of _TOTAL_ records",
            "sInfoEmpty": "Showing 0 to 0 of 0 records",
            "sInfoFiltered": "(filtered from _MAX_ total records)"
    },
    "sDom": '<"top"if>t<"bottom"p><"clear">'
  });
});
</script>
{% endblock %}
