{% extends "frontend_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Login{% endblock %}
{% block cookie_id %}login{% endblock %}
{% block description %}login{% endblock %}

{% block main_container %}
  <body id="body">
    <section id="main">
      <div class="container">

        <div class="row-fluid">
          <div class="span12">
            <div class="login-container center">
              <div class="title">Sign in</div>

              <form class="login-form">
                <ul class="fields-list">
                  <li>
                    <i class="icon-envelope-alt" style="float: left;"></i>
                    <input autocomplete="off" id="email" name="email" placeholder="email" type="text">
                  </li>
                  <li>
                    <i class="icon-key"></i>
                    <input autocomplete="off" id="password" name="password" placeholder="password" type="password">
                  </li>
                </ul>

                <div class="actions">
                  <input class="btn btn-green btn-large login-btn" name="commit" type="submit" value="Sign In">
                </div>

                <!-- <div class="social-actions"> -->
                <!--   <a href="#" class="btn btn-twitter btn-block"> -->
                <!--     <i class="icon-twitter-sign"></i> Login with Twitter -->
                <!--   </a> -->
                <!--   <a href="#" class="btn btn-facebook btn-block"> -->
                <!--     <i class="icon-facebook-sign"></i> Login with Facebook -->
                <!--   </a> -->
                <!-- </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>

    </section>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">

          <div class="footer">
            <h5 class="transparent-text center">
              <div>&copy; 2012-2013 perGENIE Team</div>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
