{% extends "frontend_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Register{% endblock %}
{% block description %}account registration{% endblock %}

{% block main_container %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6"><a href="{% url apps.frontend.views.index %}"><img class="login_logo" src="{% static 'images/logo.png' %}"></a></div>
  </div>

  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">Register</h2>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">

            <form class="form-horizontal" action="{% url apps.frontend.views.register %}" method="POST" id="password-form">
	      {% csrf_token %}
          <!--     <table> -->
	      <!--   <tr> -->
	      <!--     <td>Email</td> -->
	      <!--     <td><input class="span3" type="text" placeholder="you@example.com" name="user_id" id="user-id"></td> -->
	      <!--   </tr> -->
	      <!--   <tr> -->
	      <!--     <td>Password</td> -->
	      <!--     <td><input class="span3" type="password" placeholder="password" name="password1" id="password1" style="float: left;"></td> -->
	      <!--   </tr> -->
	      <!--   <tr> -->
	      <!--     <td>Re-type Password</td> -->
	      <!--     <td><input class="span3" type="password" placeholder="password" name="password2" id="password2"></td> -->
	      <!--   </tr> -->
	      <!--   <tr> -->
	      <!--     <td colspan="2"> -->
	      <!--       <input type="submit" value="Submit"> -->
	      <!--     </td> -->
	      <!--   </tr> -->
	      <!-- </table> -->

  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input class="span3" type="text" id="email" placeholder="you@example.com">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password1">Password</label>
    <div class="controls">
      <input class="span3" type="password" id="password1" placeholder="password">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password2">Re-type Password</label>
    <div class="controls">
      <input class="span3" type="password" id="password2" placeholder="password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Sign up</button>
    </div>
  </div>


            </form>


	    {% if error %}
	    <div class="alert alert-error">{{ error }}
	    {% if login_url %}<a href="{{ login_url }}">login<a>{% endif %}</div>
	    {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--/.fluid-container-->
{% endblock %}
