{% extends "layout.html" %}
{% block title %}Risk report - {{ studyx_name }}{% endblock %}
{% block description %}risk report detail{% endblock %}
<!-- {% block cookie_id %}risk_report_detail{% endblock %} -->
{% load staticfiles %}
{% load extras %}

{% block main_container %}
<div id="main_container" class="span10">

  <!-- Breadcrumb -->
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="{% url apps.riskreport.views.index %}">Risk report</a><span class="divider">/</span></li>
        <li class="active">{{ file_name }}<span class="divider">/</span></li>
        <li class="active">{{ trait_name }}<span class="divider">/</span></li>
        <li class="active">{{ study_name }}</li>
      </ul>
    </div><!--/span-->
  </div>

  <!-- Content start -->
  <!-- Draggable Widgets start -->


  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">SNPs for study: "{{ study_name }}"</h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">

<!--             <form action="{% url apps.riskreport.views.index %}" method="post" enctype="multipart/form-data"> -->
<!--               {% csrf_token %} -->
<!-- 		      <fieldset> -->

<!--                     <select name="file_name" onchange="submit(this.form)"> -->
<!--                       {% for info in infos%} -->
<!--                       {% if info == tmp_info %} -->
<!--                         <option value="{{ info.name }}" selected>{{ info.name }}</option> -->
<!--                         {% else%} -->
<!--                         <option value="{{ info.name }}">{{ info.name }}</option> -->
<!--                         {% endif %} -->
<!--                       {% endfor%} -->
<!--                     </select> -->
<!--               </fieldset> -->
<!--             </form> -->


            <div id="container" style="min-width: 200px; height: 400px; margin: 0 auto"></div>

            <table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="risk_reports_table">
              <thead>
              <tr>
                <th>RR (Risk relative to average population) [log10]</th>
                <th>RR [real]</th>
                <th>SNPs</th>
                <th>Genotype</th>
                <th>Risk allele</th>
                <th>Risk allele frequency</th>
                <th>OR</th>
              </tr>
              </thead>

              <tbody>
                {% for snp, store in tmp_risk_store.items %}
                <tr>
                  <td class="center">{{ store.RR }}</td>
                  <td class="center">{{ store.RR_real }}</td>
                  <td class="center">rs{{ snp }}</td>
                  <td class="center">{% if store.variant_map.0 in store.catalog_map.risk_allele %}
                                        <span>{{ store.variant_map.0 }}</span>
                                     {% else %}
                                        <span style="color : #c5c5c5">{{ store.variant_map.0 }}</span>
                                     {% endif %}
                                     {% if store.variant_map.1 in store.catalog_map.risk_allele %}
                                        <span>{{ store.variant_map.1 }}</span>
                                     {% else %}
                                        <span style="color : #c5c5c5">{{ store.variant_map.1 }}</span>
                                     {% endif %}
                  </td>
                  <td class="center">{{ store.catalog_map.risk_allele }}</td>
                  <td class="center">{{ store.catalog_map.risk_allele_frequency }}</td>
                  <td class="center">{{ store.catalog_map.OR }}</td>
		        </tr>
		        {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->


  <!-- Draggable Widgets end -->
  <!-- Content end -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: '{{ trait_name }}'
            },
            xAxis: {
                categories: [{% for snp in snps_list %}"{{ snp }}",{% endfor %}],
                labels: {
                    rotation: -45,
                    align: 'right',
                }
            },
            yAxis: {
                max: 1.0,
                min: -1.0,
                title: {
                    text: 'Risk relative to average population'
                }
            },

            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        'Risk value: '+ Highcharts.numberFormat(this.y, 2) + '[log10] <br/>' ;
                }
            },
            credits: {
                enabled: false
            },
            legend: {
                enabled: false
            },
            series: [{
                name: "{{ file_name }}",
                data: [{% for RR_value in RR_list %}
                         {y: {{ RR_value }},
                          color: {% if RR_value < 0 %}'#2ca6f1'{% elif RR_value == 0 %}'#8a8a8a'{% else %}'#f12ca6'{% endif %},
                          },
                       {% endfor %}],
                },
            ]


        });
    });

});
</script>

<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/modules/exporting.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('#risk_reports_table').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "iDisplayLength": 25,
    "aLengthMenu": [ 25, 50, -1 ]
  });
});
</script>

{% endblock %}
