{% extends "layout.html" %}
{% block title %}Risk report - {{ trait_name }}{% endblock %}
{% block description %}risk report detail{% endblock %}
<!-- {% block cookie_id %}risk_report_detail{% endblock %} -->
{% load staticfiles %}
{% load extras %}

{% block main_container %}
<div id="main_container" class="span10">

  <!-- Breadcrumb -->
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="{% url apps.riskreport.views.index %}">Risk report</a><span class="divider">/</span></li>
        <li class="active">{{ file_name }}<span class="divider">/</span></li>
        <li class="active">{{ trait_name }}</li>
      </ul>
    </div><!--/span-->
  </div>

  <!-- Content start -->
  <!-- Draggable Widgets start -->


  <div class="row-fluid">
    <div class="span6">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">Studies for {{ trait_name }}</h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">

<!--             <form action="{% url apps.riskreport.views.index %}" method="post" enctype="multipart/form-data"> -->
<!--               {% csrf_token %} -->
<!-- 		      <fieldset> -->

<!--                     <select name="file_name" onchange="submit(this.form)"> -->
<!--                       {% for info in infos%} -->
<!--                       {% if info == tmp_info %} -->
<!--                         <option value="{{ info.name }}" selected>{{ info.name }}</option> -->
<!--                         {% else%} -->
<!--                         <option value="{{ info.name }}">{{ info.name }}</option> -->
<!--                         {% endif %} -->
<!--                       {% endfor%} -->
<!--                     </select> -->
<!--               </fieldset> -->
<!--             </form> -->

            <div id="container" style="max-width: 400px; height: 300px; margin: 0 auto"></div>

          </div>
        </div>
      </div>
    </div><!--/span-->

    <div class="span6">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top"></h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">

            <!-- <div style="max-width: 400px; height: 300px; margin: 0 auto"></div> -->


          </div>
        </div>
      </div>
    </div><!--/span-->

  </div><!--/row-->

  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top"></h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">

            <table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="risk_reports_table">
              <thead>
              <tr>
                <th>RR [log10]</th>
                <th>RR [real]</th>
                <th>Study</th>
              </tr>
              </thead>

              <tbody>
                {% for study in study_list %}
                <tr>
                  <td class="center">{{ RR_list|listvalue:forloop.counter0 }}</td>
                  <td class="center">{{ RR_list_real|listvalue:forloop.counter0 }}</td>
                  <td><a href="{% url apps.riskreport.views.study file_name=file_name trait=trait_name study_name=study %}">{{ study }}</a></td>

		        </tr>
		        {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->


  <!-- Draggable Widgets end -->
  <!-- Content end -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [{% for study in study_list %}"{{ study|slice:":10" }}...",{% endfor %}],
                labels: {
                    rotation: -45,
                    align: 'right',
                }
            },
            yAxis: {
                max: 1.0,
                min: -1.0,
                title: {
                    text: 'RR'
                }
            },
            plotOptions: {
            series: {
                shadow:true,
                cursor:'pointer',
                    point: {
                        events: {
                            click: function() {
                                location.href = this.options.url;
                                <!-- window.open(this.options.url); -->
                            }
                        }
                    }
                },
                bar: {
                    dataLabels: {
                        enabled: false
                    }
                }
            },

            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        'Risk value: '+ Highcharts.numberFormat(this.y, 1) + '[log10] <br/>';
                }
            },
            credits: {
                enabled: false
            },
            legend: {
                enabled: false
            },
            series: [
                {
                name: "{{ file_name }}",
                data: [{% for RR_value in RR_list %}
                         {y: {{ RR_value }},
                          color: {% if RR_value < 0 %}'#2ca6f1'{% elif RR_value == 0 %}'#8a8a8a'{% else %}'#f12ca6'{% endif %},
                          url:"{% url apps.riskreport.views.study file_name=file_name trait=trait_name study_name=study_list|listvalue:forloop.counter0 %}"},
                         {% endfor %}],
                },
            ]


        });
    });

});
</script>

<script type="text/javascript" src="{% static 'javascripts/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/highcharts/modules/exporting.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('#risk_reports_table').dataTable({
    "aaSorting": [ [0,'desc'] ],
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "iDisplayLength": 25,
    "aLengthMenu": [ 25, 50, -1 ]
  });
});
</script>

{% endblock %}
