{% extends "layout.html" %}
{% block title %}Risk report{% endblock %}
{% block description %}risk report{% endblock %}
{% block cookie_id %}risk_report{% endblock %}
{% load staticfiles %}
{% load extras %}

{% block main_container %}
<div id="main_container" class="span10">

  <!-- Breadcrumb -->
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li class="active">Risk report</li>
      </ul>
    </div><!--/span-->
  </div>




  <!-- Content start -->
  <!-- Draggable Widgets start -->

  {% if risk_reports %}



  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">Relative Risk for all traits</h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">
            
            <form action="{% url apps.riskreport.views.index %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
		      <fieldset>

                    <select name="file_name" onchange="submit(this.form)">
                      {% for info in infos %}
                        {% if info == tmp_infos.0 %}
                        <option value="{{ info.name }}" selected>{{ info.name }}</option>
                        {% else%}
                        <option value="{{ info.name }}">{{ info.name }}</option>
                        {% endif %}
                      {% endfor%}
                    </select>

                    <span style="color : #3c3c3c"> with </span>

                    <select name="file_name2" onchange="submit(this.form)">
                      <option value="-" selected>-</option>
                      {% for info in infos %}
                        {% if info == tmp_infos.1 %}
                        <option value="{{ info.name }}" selected>{{ info.name }}</option>
                        {% elif info == tmp_infos.0 %}
                        
                        {% else %}
                        <option value="{{ info.name }}">{{ info.name }}</option>
                        {% endif %}
                      {% endfor%}
                    </select>


              </fieldset>
            </form>

            <div id="container" style="min-width: 200px; height: 2000px; margin: 0 auto"></div>
          </div>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->

  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">Table</h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>

        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">
            <table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="risk_reports_table">
              <thead>
              <tr>
                <th>Trait</th>
                <th>Value</th>
              </tr>
              </thead>

              <tbody>
                {% if risk_reports %}
                {% for trait_name,value in risk_reports.items %}

                <tr>
                  <td class="center"><a href="{% url apps.riskreport.views.trait file_name=tmp_infos.0.name trait=trait_name %}">{{ trait_name }}</a></td>
                  <td class="center">{{ value }}</td>
		        </tr>
		        {% endfor %}
		        {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->
  {% endif %}

  <!-- Draggable Widgets end -->
  <!-- Content end -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'bar'
            },
            title: {
                text: 'log(Risk relative to average population)'
            },
            xAxis: {
                categories: [{% for trait in risk_traits %}"{% autoescape off %}{{ trait }}{% endautoescape %}",{% endfor %}],
                title: {
                    text: null
                }
            },
            yAxis: {
                max: 1,
                min: -1,
                title: {
                    text: '[log(RR)]',
                    align: 'high'
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x+': '+ this.y + '[log10] '+ Math.pow(10, this.y).toFixed(3) +'[real] ';
                }
            },
            plotOptions: {
            series: {
                shadow:true,
                cursor:'pointer',
                    point: {
                        events: {
                            click: function() {
                                location.href = this.options.url;
                                <!-- window.open(this.options.url); -->
                            }
                        }
                    }
                },
                bar: {
                    dataLabels: {
                        enabled: false
                    }
                }
            },
            credits: {
                enabled: false
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -50,
                y: 50,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true,
                enabled: false
            },

            series: [
                    {% if tmp_infos|length > 1 %}
                    {
                    name: '{ tmp_infos.1.name }}',
                    data: [{% for risk_value in risk_values.1 %}
                             {y: {{ risk_value }},
                              color: {% if risk_value < 0 %}'#2cf177'{% elif risk_value == 0 %}'#8a8a8a'{% else %}'#f1772c'{% endif %},
                              url:"{% url apps.riskreport.views.trait trait=risk_traits|listvalue:forloop.counter file_name=tmp_infos.1.name %}"},
                           {% endfor %}],
                    },
                    {
                    name: '{{ tmp_infos.0.name }}',
                    data: [{% for risk_value in risk_values.0 %}
                             {y: {{ risk_value }},
                              color: {% if risk_value < 0 %}'#2ca6f1'{% elif risk_value == 0 %}'#8a8a8a'{% else %}'#f12ca6'{% endif %}, 
                              url:"{% url apps.riskreport.views.trait trait=risk_traits|listvalue:forloop.counter file_name=tmp_infos.0.name %}"},
                           {% endfor %}],
                    },


                    {% else %}
                    {
                    name: '{{ tmp_infos.0.name }}',
                    data: [{% for risk_value in risk_values.0 %}
                             {y: {{ risk_value }},
                              color: {% if risk_value < 0 %}'#2ca6f1'{% elif risk_value == 0 %}'#8a8a8a'{% else %}'#f12ca6'{% endif %}, 
                              url:"{% url apps.riskreport.views.trait trait=risk_traits|listvalue:forloop.counter file_name=tmp_infos.0.name %}"},
                           {% endfor %}],
                    },
                    {% endif %}
            ]
        });
    });
});
</script>
<!--                 dataLabels: { -->
<!--                     enabled: true, -->
<!--                     rotation: 0, -->
<!--                     color: '#FFFFFF', -->
<!--                     align: 'right', -->
<!--                     x: 0, -->
<!--                     y: 0, -->
<!--                     formatter: function() { -->
<!--                         return this.y; -->
<!--                     }, -->
<!--                     style: { -->
<!--                         fontSize: '10px', -->
<!--                         fontFamily: 'Verdana, sans-serif' -->
<!--                     } -->
<!--                 } -->


<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/modules/exporting.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('#risk_reports_table').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "iDisplayLength": 25,
    "aLengthMenu": [ 25, 50, -1 ]
  });
});
</script>

{% endblock %}
