{% extends "layout.html" %}
{% block title %}Risk report - {{ trait_name }}{% endblock %}
{% block description %}risk report detail{% endblock %}
<!-- {% block cookie_id %}risk_report_detail{% endblock %} -->
{% load staticfiles %}
{% load extras %}

{% block main_container %}
<div id="main_container" class="span10">

  <!-- Breadcrumb -->
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="{% url apps.riskreport.views.index %}">Risk report</a><span class="divider">/</span></li>
        <li class="active">{{ file_name }}<span class="divider">/</span></li>
        <li class="active">{{ trait_name }}</li>
      </ul>
    </div><!--/span-->
  </div>

  <!-- Content start -->
  <!-- Draggable Widgets start -->

  {% if tmp_risk_value %}
  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">Chart</h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">
            
            <form class="form-horizontal" action="{% url apps.riskreport.views.index %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
		      <fieldset>
                
                <div class="control-group">
                  <label class="control-label">file</label>
                  <div class="controls">
                    <select name="file_name" onchange="submit(this.form)">
                      {% for info in infos%}
                        {% if info == tmp_info %}
                        <option value="{{ info.name }}" selected>{{ info.name }}</option>
                        {% else%}
                        <option value="{{ info.name }}">{{ info.name }}</option>
                        {% endif %}
                      {% endfor%}
                    </select>
                  </div>
                </div>
              </fieldset>
            </form>

            value:{{ tmp_risk_value }}

            snps_list: {{ snps_list }}
            RR_list: {{ RR_list }} 
            
            <div id="container" style="min-width: 200px; height: 400px; margin: 0 auto"></div>

            <table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="risk_reports_table">
              <thead>
              <tr>
                <th>snps</th>
                <th>RR</th>
              </tr>
              </thead>

              <tbody>
                {% if tmp_risk_store %}
                {% for trait_name,store in tmp_risk_store.items %}

                <tr>
                  <td class="center"><a href="{% url apps.riskreport.views.trait trait=trait_name file_name=tmp_info.name %}">{{ trait_name }}</a></td>
                  <td class="center">{{ store }}</td>
		        </tr>
		        {% endfor %}
		        {% endif %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->
  {% endif %}

  <!-- Draggable Widgets end -->
  <!-- Content end -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Column chart with negative values'
            },
            xAxis: {
                categories: {{ snps_list }}
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: "{{ file_name }}",
                data: {{ RR_list }}
            }
            ]
        });
    });
    
});
</script>

<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/modules/exporting.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('#risk_reports_table').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "iDisplayLength": 25,
    "aLengthMenu": [ 25, 50, -1 ]
  });
});
</script>

{% endblock %}
