{% extends "layout.html" %}
{% block title %}Tutorial{% endblock %}
{% block description %}Tutorial{% endblock %}

{% block main_container %}          
<div id="main_container" class="span10">

  <!-- <\!-- Breadcrumb -\-> -->
  <!-- <div class="row-fluid"> -->
  <!--   <div class="span12"> -->
  <!--     <ul class="breadcrumb"> -->
  <!--       <li class="active">Catalog</li> -->
  <!--     </ul> -->
  <!--   </div><\!--/span-\-> -->
  <!-- </div> -->
            
  <!-- Content start -->                     
  <!-- Draggable Widgets start -->
  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue" id="box_1">
        <h2 class="box_head round_top"></h2>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">
            <div class="row-fluid">

              <div class="page-header">
                <h1>Tutorial</h1>
              </div>
              
              {% if msg %}
              <div class="alert alert-success">
                <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
                {{ msg }}
              </div>
              {% endif %}
              
              {% if err %}
              <div class="alert alert-error">
                <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
                {{ err }}
              </div>
              {% endif %}
                  
              
            </div>
          </div>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->
  <!-- Draggable Widgets end -->
  <!-- Content end -->
</div>
{% endblock %}
