{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block description %}upload genome file{% endblock %}
<!-- {% block cookie_id %}upload{% endblock %} -->
{% load staticfiles %}

{% block main_container %}

<!-- show and hide column -->

<!-- <script type="text/javascript" charset="utf-8"> -->
<!--   $(document).ready(function() { -->
<!--   $('#datatable').dataTable( { -->
<!--   "sScrollY": "200px", -->
<!--   "bPaginate": false -->
<!--   } ); -->
<!--   } ); -->

<!--   function fnShowHide( iCol ) -->
<!--   { -->
<!--   /* Get the DataTables object again - this is not a recreation, just a get of the object */ -->
<!--   var oTable = $('#datatable').dataTable(); -->

<!--   var bVis = oTable.fnSettings().aoColumns[iCol].bVisible; -->
<!--   oTable.fnSetColumnVis( iCol, bVis ? false : true ); -->
<!--   } -->
<!--   </script> -->

<!-- <a href="javascript:void(0);" onclick="fnShowHide(0);">Toggle column 1<br></a> -->
<!-- <a href="javascript:void(0);" onclick="fnShowHide(1);">Toggle column 2<br></a> -->
<!-- <a href="javascript:void(0);" onclick="fnShowHide(2);">Toggle column 3<br></a> -->
<!-- <a href="javascript:void(0);" onclick="fnShowHide(3);">Toggle column 4<br></a> -->
<!-- <a href="javascript:void(0);" onclick="fnShowHide(4);">Toggle column 5<br></a> -->


<div id="main_container" class="span10">

  <!-- Breadcrumb -->
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li>Upload</li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">Upload</h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">

                <form class="form-horizontal" action="{% url apps.upload.views.index %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
		          <fieldset>

<!--                     <div class="page-header"> -->
<!--                       <small></small> -->
<!--                     </div> -->

                    <hr>
<!--                     <div class="tooltip-demo well"> -->
<!--                       <p class="muted" style="margin-bottom: 0;"> -->
<!--                       </p> -->
<!--  <\!-- <a href="#" rel='tooltip' title="first tooltip">you probably</a>  -\-> -->
<!--                     </div> -->

                    <div class="control-group">
                      <label class="control-label"><a data-toggle="modal" href="#uploadModal">Genome File <i class="icon-info-sign"></i></a></label>
                      <div class="controls">
                      <input type="file" name="call">
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label"><a data-toggle="modal" href="#uploadModal">Population <i class="icon-info-sign"></i></a></label>
                      <div class="controls">
                        <select name="population">
                          <option value="unknown">Unknown</option>
                          <option value="Asian">Asian</option>
                          <option value="Europian">Europian</option>
                          <option value="Japanese">Japanese</option>
                        </select>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label"><a data-toggle="modal" href="#uploadModal">Sex <i class="icon-info-sign"></i></a></label>
                      <div class="controls">
                        <select name="sex">
                          <option value="unknown">Unknown</option>
                          <option value="male">male</option>
                          <option value="female">female</option>
                        </select>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label"><a data-toggle="modal" href="#uploadModal">File Format <i class="icon-info-sign"></i></a></label>
                      <div class="controls">
                        <select name="file_format">
                          <option value="andme">23andMe</option>
                          <option value="decode">deCODEme</option>
                          <option value="navi">Navigenics</option>
                          <option value="vcf">VCF</option>
                          <option value="tmmb">tmmb</option>
                        </select>
                      </div>
                    </div>

                      <span class="label label-warning">Notice</span> genome fileをアップロードする前に，<a href="#">利用規約</a>をご確認ください．

                    <div class="form-actions">
                      <input type="submit" class="btn btn-primary">
                      <input type="reset" value="reset" class="btn">
                    </div>

                    {% if msg %}
                    <div class="alert alert-success">
                      <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
                      {{ msg }}
                    </div>
                    {% endif %}

                    {% if err %}
                    <div class="alert alert-error">
                      <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
                      {{ err }}
                    </div>
                    {% endif %}



                  </fieldset>

                </form>
              </div>
            </div>
          </div>
    </div><!--/span-->
  </div><!--/row-->


    <!-- upload help modal -->
    <div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="uploadModalLabel">Help for Upload</h3>
      </div>
      <div class="modal-body">

        <ul class="unstyled">
          <li><h4>Genome File</h4></li>
          <li>アップロードするgenome fileを選んで下さい．</li>
          <li>以下の拡張子のファイルがサポートされています．</li>
          <li><code>.txt</code> <code>.csv</code> <code>.vcf</code></li>
          <hr>
          <li><h4>Population</h4></li>
          <ul>
            <li></li>
          </ul>
          <hr>
          <li><h4>Sex</h4></li>
          <ul>
            <li></li>
          </ul>
          <hr>
          <li><h4>File Format</h4></li>
          <ul>
            <li></li>
          </ul>

        </ul>

        <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>



  <div class="row-fluid">
    <div class="span12">
      <div class="box grad_colour_dark_blue">
        <h2 class="box_head round_top">Uploaded status</h2>
        <a href="#" class="toggle box_button_2" title="toggle">&nbsp;</a>
        <a href="#" class="destroy box_button_1" title="close">&nbsp;</a>
        <div class="toggle_container">
          <div class="block box_content round_bottom padding_20">


            <table class="table table-striped table-condensed">
              <thead>
              <tr>
                <th>File Name</th>
                <th>Date</th>
                <th>Population</th>
                <th>Sex</th>
                <th>Format</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
                {% if uploadeds %}
                {% for uploaded in uploadeds %}

                <tr class="uploaded_file">
                  <td class="dataname">{{ uploaded.name }}</td>
                  <td class="center">{{ uploaded.date }}</td>
                  <td class="center">
                    <span class="label label-success">{{ uploaded.population }}</span>
                  </td>
                  <td class="center">
                    <span class="label label-success">{{ uploaded.sex }}</span>
                  </td>
                  <td class="center">
                    <span class="label label-success">{{ uploaded.file_format }}</span>
                  </td>
                  <td class="center">
		            {% if uploaded.status >= 100 %}
                    <p>100%</p>
<!--                     <div class="progress progress-success"> -->
<!-- 		              <div class="bar" style="width: 100%;">100%</div> -->
<!-- 		            </div> -->


		            {% else %}
                    <div class="progress progress-striped progress-info active">
		              <div class="bar" style="width: {{ uploaded.status }}%;"></div>
                    </div>
		            {% endif %}
                  </td>
                  <td class="center">
                    <!-- <a class="btn btn-success" href="#"> -->
                    <!--   <i class="icon-zoom-in icon-white"></i> -->
                    <!--   View -->
                    <!-- </a> -->
                    <!-- <a class="btn btn-info" href="#"> -->
                    <!--   <i class="icon-edit icon-white"></i> -->
                    <!--   Edit -->
                    <!-- </a> -->
                    <div id="deleteModal{{ forloop.counter0 }}" class="modal hide fade in delete" style="display: none;">
                      <div class="modal-header"></div>
                      <div class="modal-body"><p>Really delete "{{ uploaded.name }}"?</p></div>
                      <div class="modal-footer">
			<form action="{% url apps.upload.views.delete %}" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
			  <input type="hidden" name="name" value="{{ uploaded.name }}">

			  <button class="btn" data-dismiss="modal">No.</button>
			  <button class="btn btn-primary" href="#" type="submit">Yes, delete this data.</button>
			</form>
                      </div>
                    </div>
                    {% if uploaded.status %}
                    <a data-toggle="modal" href="#deleteModal{{ forloop.counter0 }}" class="btn btn-danger">
                      <i class="icon-trash icon-white"></i>Delete
                    {% else %}
<!--                     <a href="#" class="btn btn-danger disabled"> -->
                    <a data-toggle="modal" href="#deleteModal{{ forloop.counter0 }}" class="btn btn-danger">
                      <i class="icon-trash icon-white"></i>Delete
                    {% endif%}
		          </td>
		        </tr>
		        {% endfor %}
		        {% endif %}
              </tbody>
            </table>

	    <form id="uploaded-file-deleter" style="display: none;"
		  action="{% url apps.upload.views.delete %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
	      <input type="hidden" name="name" value="">
	    </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">window.upload_status_url = "{% url apps.upload.views.status %}";</script>
<script type="text/javascript" src="{% static 'js/upload.js' %}"></script>
{% endblock %}
