{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>

<!--
___________________8888____888__8____8__8___888
__________________8____8__8_____88___8_____8___
_888____88___8____8_______8_____8_8__8__8__8___
88__8__8__8__8_88_8__888__8888__8__8_8__8__8888
_8__8__888___88___8____8__8_____8___88__8__8___
_888___8_____8____8____8__8_____8____8__8__8___
_8______88___8_____8888____888__8____8__8___888
_8

-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>perGENIE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="perGENIE interprets your personal genome with publicly available databases & your genetic testing data.">
  <meta name="keywords" content="pergenie,perGENIE,pergene,perGENE">

  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'css/index.css' %}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Delius+Swash+Caps" rel="stylesheet" type="text/css">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-inner">
        <div class="container">

          <a href="https://twitter.com/share" class="twitter-share-button" data-text="perGENIE - interprets your personal genome with publicly available databases & your genetic testing data. @per_GENIE" >Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          <ul class="nav">
            <li><a href="#">{% trans "Try demo" %}</a></li>
            <li><a href="#">{% trans "Sign up" %}</a></li>
            <li><a href="#">{% trans "Login" %}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="feature span12">
        <h2 class="motto"><strong>perGENIE</strong> interprets your personal genome</h2>
        <h3 class="subheader">{% trans "with publicly available databases & your genetic testing data." %}</h3>
        <img id="feature-screenshot" src="{% static 'images/snaps/snap0.n.png' %}" alt="screenshot">
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 center graded">
          <a href="#" class="signup">{% trans "Try demo (Currently, demo mode only)" %}</a>
          <a href="#" class="signup">{% trans "Sign up for FREE" %}</a>
        </div>
      </div>
    </div>

  <div class="container">
    <h2>Features.</h2>
    <div class="row">
      <div class="col-md-12 box drop-shadow">

        <div class="row">
          <article class="span6 offset1">
            <h3>{% trans "Disease risk calculation" %}</h3>
            <p>{% trans "Based on the results of genotype-phenotype association studies, i.e., GWAS (Genome Wide Association Studies), perGENIE calculates your genetic risks for diseases." %}
            </p>
            <p>{% trans "As a database of GWAS, we use " %}<a href="//www.genome.gov/gwastudies/" target="_blank"> NHGRI GWAS Catalog</a>.</p>
          </article>
          <div class="col-md-4">
            <img src="{% static 'images/snaps/snap1.png' %}" alt="placeholder" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 offset1">
            <img src="{% static 'images/snaps/snap2.png' %}" alt="placeholder" />
          </div>
          <article class="span6">
            <h3>{% trans "Comparison of two genomes" %}</h3>
            <p>{% trans "You can also compare your disease risks with another person, e.g., father and mathor, parents and their children, etc." %}
              </p>
          </article>
        </div>

        <div class="row">
          <article class="span6 offset1">
            <h3>{% trans "Working with VCF & 23andMe" %}</h3>
            <p>{% trans "Suppoted input file formats are:" %}</p>
            <ul>
              <li><a href="//www.1000genomes.org/wiki/Analysis/Variant%20Call%20Format/vcf-variant-call-format-version-41" target="_blank">VCF (Variant Call Format)</a>{% trans ", a standard data format for DNA sequencing data from NGS." %}</li>
              <li>{% trans "SNP array data from " %}<a href="//www.23andme.com/" target="_blank">23andMe</a>{% trans ", a common direct-to-consumer genetic testing service." %}</li>
            </ul>
          </article>
          <div class="col-md-4">
            <img src="{% static 'images/snaps/snap3.png' %}" alt="placeholder" />
          </div>
        </div>

        <div class="row">
          <article class="span6 offset1">
            <h3 class="subheader">{% trans "More features are under developping..." %}</h3>
          </article>
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="container"> -->
  <!--   <h2>Final pitch.</h2> -->
  <!--   <div class="row"> -->
  <!--     <div class="col-md-12 box"> -->
  <!--       <article class="span10 offset1"> -->
  <!--         <p>.</p> -->
  <!--       </article> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>{% trans "About us" %}</h4>

        <p>{% trans "perGENIE is being developed and maintained by perGENIE Team." %}</p>

        <p>{% trans "We host this website (http://pergenie.org) as a proof-of-concept of perGENIE." %}</p>
        <p>{% trans "All the reported results from perGENIE are NOT medical diagnosis. They are jsut experimental attempts." %}</p>

        <a href="https://www.iubenda.com/privacy-policy/126219" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </div>
    </div>
  </div>

  <div class="row footer">
    <div class="col-md-12">
      <ul class="links">
        <li>&copy; 2012-2013 perGENIE Team.</li>
      </ul>
    </div>
  </div>

</body>

</html>
