# coding: utf-8
from common import *

SECRET_KEY = 'secretkey_secretkey_secretkey_secretkey_secretkey_secretkey'
DEBUG = True


# Application definition

INSTALLED_APPS += (
    'django_extensions',
    # 'debug_toolbar',
)

MIDDLEWARE_CLASSES += (
    # 'debug_toolbar.middleware.DebugToolbarMiddleware',
)


# Email

SUPPORT_EMAIL = ''
NOREPLY_EMAIL = ''
EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_FILE_PATH = 'tmp/email'


# Database

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'pergenie',
        'USER': 'pergenie',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    },
}

# Celery
BROKER_URL = 'amqp://{USER}:{PASSWORD}@{HOST}:{PORT}//'.format(USER='guest',
                                                               PASSWORD='guest',
                                                               HOST='localhost',
                                                               PORT=5672)
CELERY_RESULT_BACKEND = 'amqp'
CELERY_ACCEPT_CONTENT = ['json']
CELERY_TASK_SERIALIZER = 'json'
CELERY_RESULT_SERIALIZER = 'json'


# Genome
UPLOAD_ROOT = os.path.join(BASE_DIR, 'tmp')
GENOME_UPLOAD_DIR = os.path.join(UPLOAD_ROOT, 'genome')

RS_MERGE_ARCH_PATH = os.path.join(BASE_DIR, 'tmp', 'RsMergeArch.bcp.gz')


# Demo mode
DEMO_GENOME_FILE_DIR = os.path.join(BASE_DIR, 'data', 'demo')
DEMO_GENOME_FILE_NAME = 'demo.vcf'


# GWAS Catalog
GWASCATALOG_DIR = os.path.join(UPLOAD_ROOT, 'gwascatalog')
GWASCATALOG_FREQ_DIFF_THRS = 0.1
