{% extends "layout.html" %}
{% load i18n %}
{% load extras %}
{% load staticfiles %}
{% block title %}MyProtain{% endblock %}
{% block description %}MyProtain{% endblock %}

{% block main_container %}
<div id="main_container" class="span14">
  <section id="main">

    <div class="container">

      <div class="row-fluid">
        <div class="span12">
          <div class="content-box transparent">
            <div class="padded">
              <h2>MyPDB</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- alerts -->
      {% if msg %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Information:</strong> {{ msg }}
      </div>
      {% endif %}

      {% if err %}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ err }}
      </div>
      {% endif %}

      <div class="row-fluid">
        <div class="span14">
          <div class="content-box">
            <div class="content-box-header">
              <icon class="icon-beaker"></icon>
            </div>

            <div class="padded">
              <div class="row-fluid">
                <div class="span14">
                  ABO Blood Type Glycosyltransferases

                  <hr>
                  {{ pdb_name }}

                  <hr>
                  <span class="badge badge-yellow"><a href="//www.rcsb.org/pdb/explore/explore.do?structureId={{ pdb_name }}" target="_blank">PDB</a></span>
                  <hr>
                  <p>3D structure:</p>
                  <canvas class="ChemDoodleWebComponent" id="mg" width="256" height="256">This browser does not support HTML5/Canvas.</canvas>
                  <p>TODO: If WebGL is no enabled, <a href="{% url apps.faq.views.index %}#safari_webgl">[FAQ] Safari: Enable WebGL in Safari.</a></p>
                  <p>TODO: enable to highlight mutation</p>


                  <hr>
                  <span class="rcsb" title="Go to RCSB PDB-101"><a href="//www.rcsb.org/pdb/101/motm.do?momID=156" target="_blank"><button class="btn btn-info">Learn more about ABO Blood Type Glycosyltransferases</button></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">$('.rcsb').tooltip();</script>

<link rel="stylesheet" href="{% static 'css/ChemDoodleWeb.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'js/chemdoodle/ChemDoodleWeb-libs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chemdoodle/ChemDoodleWeb.js' %}"></script>


<script>
  var pdb_{{ name }}  = {% for r in pdb_records %}"{{ r }}" +
                        {% endfor %}"END";

  var mg = new ChemDoodle.TransformCanvas3D('mg', 256, 256);
  mg.specs.set3DRepresentation('Stick');
  mg.specs.atoms_display = false;
  mg.specs.bonds_display = false;
  mg.specs.ribbons_useShapelyColors = false;
  mg.specs.ribbons_useAminoColors = false;
  mg.specs.ribbons_cartoonize = true;
  var struct = ChemDoodle.readPDB(pdb_{{ name }});
  mg.loadMolecule(struct);
</script>
{% endblock %}
