{% extends "layout.html" %}
{% load extras %}
{% load staticfiles %}
{% block title %}Settings{% endblock %}
{% block description %}settings{% endblock %}

{% block main_container %}
<div id="main_container" class="span10">
  <section id="main">

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="content-box transparent" data-step="1" data-intro="Your disease risk report is shown bellow.">
            <div class="padded">
              <h2>Settings</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="content-box" data-step="3" data-intro="Information about this genome file is here.">

            <div class="content-box-header" data-step="2" data-intro="Your top 10 highest risks are listed here.">
              <icon class="icon-cogs"></icon> Risk Report Settings
            </div>

            <div class="padded">
              <div class="row">
                <div class="col-md-12">

                  <form class="form-horizontal" action="{% url apps.settings.views.user_settings %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
		            <fieldset>
                      <div class="control-group">
                        <label class="control-label" title="see help?"><a data-toggle="modal" href="#riskreportSettingModal">Show Level <span class="glyphicon glyphicon-question-sign"></span></a></label>
                        <div class="controls">
                          <select name="show_level">
                            <option value="show_all" {% if current_settings.risk_report_show_level == "show_all" %}selected{% endif %}>Show all trait/disease</option>
                            <option value="not_show_all" {% if current_settings.risk_report_show_level == "not_show_all" %}selected{% endif %}>Do not show some trait/disease</option>
                          </select>
                        </div>
                      </div>

                      <hr>
                      <div class="control-group">
                        <label class="control-label">Advanced Settings</label>
                        <div class="controls">
                          Restriction in VCF (Exome)
                          <label class="checkbox">
                            <input type="checkbox" id="exome_ristricted" name="exome_ristricted" {% if current_settings.exome_ristricted %}checked{% endif %}> DO NOT use variants outside the targeted exome region.
                            <a href="{% url apps.faq.views.index%}#variatns_outside_targeted_region"> See [FAQ]</a>
                          </label>
                        </div>

                        <!-- <div class="controls"> -->
                        <!--   Charts -->
                        <!--   <label class="checkbox"> -->
                        <!--     <input type="checkbox" id="use_log" name="use_log" {% if current_settings.use_log %}checked{% endif %}> Use logarithmic scale in disease risk reports. -->
                        <!--     <a href="{% url apps.faq.views.index%}#RR_scale_in_chart"> See [FAQ]</a> -->
                        <!--   </label> -->
                        <!-- </div> -->
                      </div>

                      <div class="form-actions">
                        <input type="submit" class="btn btn-primary">
                        <input type="reset" value="reset" class="btn">
                      </div>

                    </fieldset>
                  </form>

                  <!-- Risk Report Setting Modal -->
                  <div id="riskreportSettingModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="riskreportSettingModalLabel" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3 id="uploadModalLabel">Help for Risk Report Settings</h3>
                    </div>
                    <div class="modal-body">

                      <ul class="unstyled">
                        <!-- <li><h4></h4></li> -->
                        <!-- <li></li> -->
                        <!-- <hr> -->
                        <li><h4>Show Level</h4></li>
                        <li></li>
                        <ul>
                          <li><code>Show all traits and diseases. [Default]</code></li>
                          <li><code>Do not show some traits and diseases.</code></li>
                        </ul>
                    </div>
                  </div>

                  <!-- alerts -->
                  {% if msg %}
                  <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Information:</strong> {{ msg }}
                  </div>
                  {% endif %}

                  {% if err %}
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> {{ err }}
                  </div>
                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">$('label.control-label').tooltip();</script>
{% endblock %}
