{% extends "frontend_layout.html" %}
{% block title %}Login{% endblock %}
{% block description %}login{% endblock %}
{% load staticfiles %}
{% load extras %}
{% load i18n %}

{% block main_container %}
<div class="row">
  <div class="col-md-12">
    <div class="content-box centered">

      <div id="main">
        <form class="form-signin" role="form" action="{% url apps.frontend.views.login %}" method="POST">
          {% csrf_token %}


        <div class="form-signin-heading">
          <a href="{% url apps.frontend.views.index %}"><img class="login_logo" src="{% static 'images/logo.png' %}"></a>
        </div>

          <div class="row user_id">
            <input type="email" class="form-control" id="user_id" name="user_id" placeholder="Email">
          </div>

          <div class="row pass">
        	<input type="password" class="form-control" id="password" name="password" placeholder="Password" />
          </div>

          {% if err %}
          <div class="alert alert-danger">
            <strong>Error!</strong> {{ err }}
          </div>
          {% endif %}

          <button type="submit" class="btn btn-lg btn-primary btn-block" name="commit">{% trans "Login" %}</button>

        </form>

        {% if is_registerable %}
        <a href="{% url apps.frontend.views.register %}">{% trans "Create an account." %}</a>
        {% endif %}

      </div>

    </div>
  </div>
</div>
{% endblock %}
