{% extends "layout/authentication.html" %}
{% block title %}Register{% endblock %}
{% block description %}{% endblock %}
{% load staticfiles %}
{% load extras %}
{% load i18n %}

{% block main %}
<section id="main">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="login-container center">

          <div class="title">
            <a href="#"><img class="login_logo" src="{% static 'img/logo.png' %}"></a>
          </div>

          <form class="login-form" role="form" action="/register/" method="POST">
            {% csrf_token %}

            <ul class="fields-list">
              <li>
                <i class="icon-envelope-alt" style="float: left;"></i>
                <input id="user_id" name="user_id" placeholder="Email" type="email">
              </li>
              <li>
                <i class="icon-key"></i>
                <input id="password1" name="password1" placeholder="Password" type="password">
              </li>
              <li>
                <i class="icon-key"></i>
                <input id="password2" name="password2" placeholder="Confirm password" type="password">
              </li>
            </ul>

            <legend></legend>  <!--  -->

            <label class="checkbox">
              <input type="checkbox" id="terms_ok_0" name="terms_ok_0" value="terms_ok_0">
              {% trans "I read " %}<a href="{% url 'apps.authentication.views.about_service' %}" target="_blank">{% trans "About The Service of perGENIE" %}</a>{% trans ", and I accept it." %}
            </label>
            <label class="checkbox">
              <input type="checkbox" id="terms_ok_1" name="terms_ok_1" value="terms_ok_1">
              {% trans " Especially, I understand that the services of perGENIE are NOT medical diagnosis; they are jsut the experimental attempts." %}
            </label>

            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="actions clearfix">
              <input class="btn btn-primary btn-large login-btn" name="commit" type="submit" value="{% trans 'Register' %}">
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
