{% extends "layout/authentication.html" %}
{% block title %}Registeration Completed{% endblock %}
{% block description %}{% endblock %}
{% load staticfiles %}
{% load extras %}
{% load i18n %}

{% block main %}
<section id="main">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="login-container center">

          <div class="title">
            <a href="#"><img class="login_logo" src="{% static 'img/logo.png' %}"></a>
          </div>

          <h4>{% trans "Registeration completed" %}</h4>

          <p>{% trans "Registration completed. An activation link has been sent to the email address you supplied: " %}<b>{{ email }}</b></p>
          <p>{% trans " Check the email and follow the instructions for activating your account!" %}</p>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
