Django==1.4.1
Jinja2==2.6
Werkzeug==0.8.3
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.12
celery==3.0.9
distribute==0.6.28
django-celery==3.0.9
django-jinja==0.3
ipython==0.13.1
kombu==2.4.6
numpy==1.6.2
pymongo==2.3
python-dateutil==1.5
python-magic==0.4.3
readline==6.2.4.1
requests==0.14.1
termcolor==1.1.0
wsgiref==0.1.2
