---
rollout_env: staging
http_server_name: staging.pergenie.org:80

database_name: pergenie
database_user: "{{ app_user }}"
database_pass: pergenie
database_host: localhost
database_port: 5432

secret_key: secretkey_secretkey_secretkey_secretkey_secretkey_secretkey
