{% extends "layout.html" %}
{% block title %}Traits{% endblock %}
{% block description %}traits{% endblock %}
{% load staticfiles %}
{% load extras %}

{% block main_container %}
<div id="main_container" class="span14">
  <section id="main">

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="content-box transparent">
            <div class="padded">
              <h2>Traits</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- alerts -->
      {% if msg %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Information:</strong> {{ msg }}
      </div>
      {% endif %}

      {% if err %}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ err }}
      </div>
      {% endif %}

      <div class="row">
        <div class="col-md-14">
          <div class="content-box">
            <div class="content-box-header">
              <icon class="icon-user"></icon>
            </div>

            <div class="padded">
              <div class="row">
                <div class="col-md-14">
                  <ul>
                    <li>アルコール紅潮反応</li>
                    <li>眼の色</li>
                  </ul>
                  <p>など，比較的，身近で・離散的な形質についてのページとなる予定です．</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
