{% load i18n %}
<div class="content-box">
  <div class="content-box-header">
    <i class="icon-folder-open"></i> {% trans "Your Genome Files" %}
  </div>

  <table class="table projects-table">
    <thead>
      <tr>
        <th width="60%">Name</th>
        <th width="40">Status</th>
      </tr>
    </thead>
    <tbody>

      {% for genome in my_genomes|slice:":3" %}
      <tr>
        <td class="project-title center">{{ genome.display_name }}</td>
        <td class="center">
          {% if genome.status == 100 %}
          <span class="badge badge-green">OK</span>
          {% elif 100 > genome.status and my_genome.status > 0 %}
          <div class="progress progress-info progress-striped active">
            <div class="bar" style="width: {{ my_genome.status }}%"></div>
          </div>
          {% elif genome.status and my_genome.status == -1 %}
          <span class="badge badge-red">FAILED</span>
		  {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if my_genomes|length > 3 %}
  <ul class="latest-comments">
    <li class="comment-box view-more" style="text-align: center">
      <a href="#">View more...</a>
    </li>
  </ul>
  {% endif %}

</div>
