{% extends "layout/layout.html" %}
{% load i18n %}
{% block title %}Dashboard{% endblock %}
{% block description %}{% endblock %}

{% block main %}
<section id="main">
  <div class="container">
    <div class="content-box no-box-shadow transparent">
      <div class="content-box-header">
        <i class="icon-magic"></i> Components
      </div>

      <!-- TODO: list from INSTALLED_APP -->
      <div class="row-fluid">
        <div class="span12 padded5">
          <a href="{% url 'riskreport' %}">
            <button class="button square" href="#">
              <i class="icon-align-left icon-large"></i>
              <span class="button-text">RiskReport</span>
            </button>
          </a>

          <a href="{% url 'genome-upload' %}">
            <button class="button square" href="#">
              <i class="icon-upload-alt icon-large"></i>
              <span class="button-text">Genomes</span>
            </button>
          </a>

          <a href="{% url 'faq' %}">
            <button class="button square" href="#">
              <i class="icon-question-sign icon-large"></i>
              <span class="button-text">FAQ</span>
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">
        {% include '_your_genome_files.html' %}
      </div>

      <div class="span8">
        {% include '_recently_added_studies.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function startIntro(){

        var intro_type = '{{ intro_type }}';

        var intro_contents = {
            'demo_welcome': {
                steps: [
                    {
                        element: document.querySelectorAll('.content-box')[0],
                        intro: "{% trans 'Welcome to perGENIE!' %}"
                    },
                    {
                        element: document.querySelectorAll('.content-box')[1],
                        intro: "{% trans 'Genome files are already uploaded for demo users.' %}",
                        position: 'right'
                    },
                    {
                        element: document.querySelector('#riskreport-button'),
                        intro: "{% trans 'So, you can check disease risk report, right now!' %}",
                        position: 'right'
                    }
                ]
            },

            'demo_invitation': {
                steps: [
                    {
                        element: document.querySelectorAll('.content-box')[0],
                        intro: "{% trans 'Did you have fun with perGENIE?' %}"
                    },
                    {
                        element: document.querySelector('.navbar-right'),
                        intro: "{% trans 'Thanks for trying this demo!' %}",
                    }
                ]
            },

            'welcome': {
                steps: [
                    {
                        element: document.querySelectorAll('.content-box')[0],
                        intro: "{% trans 'Welcome to perGENIE!' %}"
                    },
                    {
                        element: document.querySelectorAll('.content-box')[1],
                        intro: "{% trans 'You have no genome files uploaded.' %}",
                        position: 'right'
                    },
                    {
                        element: document.querySelector('#upload-button'),
                        intro: "{% trans 'So, first, upload your genome file!' %}",
                    }
                ]
            },

            'wait_upload': {
                steps: [
                    {
                        element: document.querySelectorAll('.content-box')[1],
                        intro: "{% trans 'Please wait until your genome file uploaded...' %}",
                        position: 'right'
                    }
                ]
            },

            'finish_upload': {
                steps: [
                    {
                        element: document.querySelector('#riskreport-button'),
                        intro: "{% trans 'Browse your Risk Report!' %}"
                    }
                ]
            }
        };

        // init
        var intro = introJs();
        intro.setOptions(intro_contents[intro_type]);
        intro.start();
    }
</script>
<script type="text/javascript">$(function(){startIntro();});</script>
<script type="text/javascript">window.upload_status_url = "#";</script>
{% endblock %}
