Django>=1.8,<1.8.99

# database
MySQL-python
pymongo>=2.7
# psycopg2

# RabbitMQ
django-celery

# upload file validation
python-magic

# bio, statistics
pyfasta
# numpy

# internal api
requests
git+https://github.com/knmkr/pymongo_genomes.git

# logging
termcolor
psutil

# TODO: add comments
# Jinja2
# LEPL
# Pygments
# Werkzeug
# distribute
# dj-database-url
# docutils
# lockfile
# paramiko
# pycrypto
# python-dateutil
