{% extends "layout.html" %}
{% load i18n %}
{% load extras %}
{% load staticfiles %}
{% block title %}MyGene{% endblock %}
{% block description %}MyGene{% endblock %}

{% block main_container %}
<div id="main_container" class="span14">
  <section id="main">

    <div class="container">

      <div class="row-fluid">
        <div class="span12">
          <div class="content-box transparent">
            <div class="padded10">
              <h4>MyGene</h4>
            </div>
          </div>
        </div>
      </div>

      <!-- alerts -->
      {% if msg %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Information:</strong> {{ msg }}
      </div>
      {% endif %}

      {% if err %}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ err }}
      </div>
      {% endif %}

      <div class="row-fluid">
        <div class="span14">
          <div class="content-box">
            <div class="content-box-header">
              <icon class="icon-beaker"></icon>
            </div>

            <div class="padded">
              <div class="row-fluid">
                <div class="span14">

                  <p>geneごとにmutationを入れたfasta，およびそれらを結合したmulti-fastaをつくる．それぞれダウンロード可能にしておく．</p>
                  <p>geneごとのfastaは，perGENIE内部では変化しているところを色付きで，Downloadボタンからはplainのがみれるようにする．</p>
                  <p>geneはまずはlow freq variantsが多い順にソート．今後何らかの重篤度予測とかできたら，それ順でもできるようにする．</p>
                  <p>misenseとか，loss of functionしてそうなのを，ピックアップもする．</p>
                  <p>プロテインに変換した場合のケースについては，中田さんに相談．</p>
                  <p>見た目としては，配列だけでなく，何らかの立体構造データを付けられるとかなり嬉しい．</p>

                  <hr>

                  <p>MyGene is only for VCF data; both Whole Genome Sequence and Whole Exome Sequence. SNP array data has not enough information to get correct results of MyGene. But JUST USING is ok.</p>

                  <hr>

                  <p>BioinformaticsやGeneticsがわかるひと向けに，パーソナルゲノム（=ここではvariants情報）へのアノテーションをいい感じに提供．</p>
                  <ul>
                    <li>dbSNP</li>
                    <li>OMIM</li>
                    <li>RegulomeDB</li>
                  </ul>
                  <p>Gene別に分ける．（Geneの簡単なアノテーション（GOとかも？）つける）</p>
                  <p>まずはallele freqの低い順にソートした表を用意して，ViewAllも用意．</p>
                  <p>ここではINDELもちゃんと扱う．Exomeを読んだひとがうれしいものをつくる．</p>

                  <hr>

                  <table cellpadding="0" cellspacing="0" border="0" class="display datatable" id="mygene_table">
                    <thead>
                      <tr>
                        <th>Gene</th>
                        <th>chrom</th>
                        <th>length</th>
                        <!-- <th>mutations</th> -->
                        <!-- <th>mut. freq.</th> -->
                        <!-- <th>rare rank</th> -->
                        <!-- <th><i class="icon-share-alt"></i>Links</th> -->
                      </tr>
                    </thead>

                    <tbody>
                      {% for gene in genes %}
                      <tr>
                        <td>
                          <a href="{% url apps.mygene.views.my_gene gene=gene %}">{{ gene }}</a>
                        </td>
                        <td>chr</td>
                        <td>bp</td>
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                  <div class="padded">
                    <div class="row-fluid">
                      <div class="span14">
                        ABO Blood Type Glycosyltransferases

                        <hr>
                        {{ pdb_name }}

                        <hr>
                        <span class="badge badge-yellow"><a href="//www.rcsb.org/pdb/explore/explore.do?structureId={{ pdb_name }}" target="_blank">PDB</a></span>
                        <hr>
                        <p>3D structure:</p>
                        <canvas class="ChemDoodleWebComponent" id="mg" width="256" height="256">This browser does not support HTML5/Canvas.</canvas>
                        <p>TODO: If WebGL is no enabled, <a href="{% url apps.faq.views.index %}#safari_webgl">[FAQ] Safari: Enable WebGL in Safari.</a></p>
                        <p>TODO: enable to highlight mutation</p>


                        <hr>
                        <span class="rcsb" title="Go to RCSB PDB-101"><a href="//www.rcsb.org/pdb/101/motm.do?momID=156" target="_blank"><button class="btn btn-info">Learn more about ABO Blood Type Glycosyltransferases</button></a></span>
                      </div>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
  $('#mygene_table').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "iDisplayLength": 10,
    "oLanguage": {
            "sZeroRecords": "Nothing found - sorry",
            "sInfo": "Showing _START_ to _END_ of _TOTAL_ records",
            "sInfoEmpty": "Showing 0 to 0 of 0 records",
            "sInfoFiltered": "(filtered from _MAX_ total records)"
    },
    "sDom": '<"top"if>t<"bottom"p><"clear">'
  });
});
</script>

<script type="text/javascript">$('.rcsb').tooltip();</script>

<link rel="stylesheet" href="{% static 'css/ChemDoodleWeb.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'js/chemdoodle/ChemDoodleWeb-libs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chemdoodle/ChemDoodleWeb.js' %}"></script>

<script>
  var pdb_{{ name }}  = {% for r in pdb_records %}"{{ r }}" +
                        {% endfor %}"END";

  var mg = new ChemDoodle.TransformCanvas3D('mg', 256, 256);
  mg.specs.set3DRepresentation('Stick');
  mg.specs.atoms_display = false;
  mg.specs.bonds_display = false;
  mg.specs.ribbons_useShapelyColors = false;
  mg.specs.ribbons_useAminoColors = false;
  mg.specs.ribbons_cartoonize = true;
  var struct = ChemDoodle.readPDB(pdb_{{ name }});
  mg.loadMolecule(struct);
</script>

{% endblock %}
