{% extends "layout.html" %}
{% block title %}Mygene{% endblock %}
{% block description %}mygene{% endblock %}
{% load staticfiles %}
{% load extras %}

{% block main_container %}
<div id="main_container" class="span14">
  <section id="main">

    <div class="container">

      <div class="row-fluid">
        <div class="span12">
          <div class="content-box transparent">
            <div class="padded">
              <h2>MyGene</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- alerts -->
      {% if msg %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Information:</strong> {{ msg }}
      </div>
      {% endif %}

      {% if err %}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ err }}
      </div>
      {% endif %}

      <div class="row-fluid">
        <div class="span14">
          <div class="content-box">
            <div class="content-box-header">
              <icon class="icon-beaker"></icon>
            </div>

            <div class="padded">
              <div class="row-fluid">
                <div class="span14">

                  <p>geneごとにmutationを入れたfasta，およびそれらを結合したmulti-fastaをつくる．それぞれダウンロード可能にしておく．</p>
                  <p>geneごとのfastaは，perGENIE内部では変化しているところを色付きで，Downloadボタンからはplainのがみれるようにする．</p>
                  <p>geneはまずはlow freq variantsが多い順にソート．今後何らかの重篤度予測とかできたら，それ順でもできるようにする．</p>
                  <p>misenseとか，loss of functionしてそうなのを，ピックアップもする．</p>
                  <p>プロテインに変換した場合のケースについては，中田さんに相談．</p>
                  <p>見た目としては，配列だけでなく，何らかの立体構造データを付けられるとかなり嬉しい．</p>

                  <hr>

                  <p>MyGene is only for VCF data; both Whole Genome Sequence and Whole Exome Sequence. SNP array data has not enough information to get correct results of MyGene. But JUST USING is ok.</p>

                  <hr>

                  <p>BioinformaticsやGeneticsがわかるひと向けに，パーソナルゲノム（=ここではvariants情報）へのアノテーションをいい感じに提供．</p>
                  <ul>
                    <li>dbSNP</li>
                    <li>OMIM</li>
                    <li>RegulomeDB</li>
                  </ul>
                  <p>Gene別に分ける．（Geneの簡単なアノテーション（GOとかも？）つける）</p>
                  <p>まずはallele freqの低い順にソートした表を用意して，ViewAllも用意．</p>
                  <p>ここではINDELもちゃんと扱う．Exomeを読んだひとがうれしいものをつくる．</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
