{% extends "layout.html" %}
{% block title %}MyGene{% endblock %}
{% block description %}MyGene{% endblock %}
{% load staticfiles %}
{% load extras %}

{% block main_container %}
<div id="main_container" class="span14">
  <section id="main">

    <!-- Breadcrumb -->
    <div class="row-fluid">
      <div class="span12">
        <ul class="breadcrumb">
          <li><a href="{% url apps.mygene.views.index %}">MyGene</a><span class="divider">/</span></li>
        <li class="active">{{ gene_info.gene }}</li>
        </ul>
      </div>
    </div>

    <div class="container">

      <div class="row-fluid">
        <div class="span12">
          <div class="content-box transparent">
            <div class="padded10">
              <h2>{{ gene_info.gene }}</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- alerts -->
      {% if msg %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Information:</strong> {{ msg }}
      </div>
      {% endif %}

      {% if err %}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{ err }}
      </div>
      {% endif %}

      <div class="row-fluid">
        <div class="span14">
          <div class="content-box">
            <div class="content-box-header">
              <icon class="icon-beaker"></icon>
            </div>

            <div class="padded">
              <div class="row-fluid">
                <div class="span14">
                  <p>TODO: chrom上のだいたいのpositonがわかるような染色体の図を入れる．</p>
                  <p>TODO: SNV・INSは赤系の色にする．</p>
                  <p>TODO: DELはグレーの赤にする．</p>
                  <p>TODO: exon領域は太字とか，intoron/exonで変える？</p>
                  <p>TODO: それぞれmutationはホバーでrs情報などを出す．</p>
                  <p>TODO: SNV, INS, DELのサマリー（まずはカウント）を表示する．</p>
                  <p>TODO: known reported mutaion associate with disease的なものを表示する？</p>
                  <p>TODO: dbNSFPをからめる．</p>
                  <hr>
                  <table>

                    <tbody>
                      {% for k,v in gene_info.items %}
                      <tr>
                        <td>
                          {{ k }}:
                        </td>
                        <td>
                          {% if k == 'classed_seq' %}
                          {% spaceless %}
                          <pre class="genome">
                            {% for sub_seq in v %}
                            <span class="{{ sub_seq.1 }}">{{ sub_seq.0 }}</span>
                            {% endfor %}
                          </pre>
                          {% endspaceless %}
                          {% elif k == 'seq' %}

                          {% else %}
                          {{ v }}
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>



                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
