{% extends "frontend_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}About service{% endblock %}
{% block description %}About service{% endblock %}
{% load extras %}

{% block main_container %}
<section id="main">
  <div class="container">

    <div class="row-fluid">
      <div class="span12">
        <div class="login-container">

          <h4>{% trans "About the service of perGENIE" %}</h4>

          <h5>{% trans "perGENIE and perGENIE Team" %}</h5>
          <p>{% trans "perGENIE is being developed and maintained by perGENIE Team." %}</p>
          <p>{% trans "As an open source software, the source code of perGENIE is hosted at BitBucket." %}</p>

          <h5>{% trans "Services of perGENIE" %}</h5>
          <p>{% trans "We host this website (http://pergenie.org) as a proof-of-concept of perGENIE." %}</p>
          <p>{% trans "All the reported results from perGENIE are NOT medical diagnosis. They are jsut experimental attempts." %}</p>

          <h5>{% trans "Genome files" %}</h5>
          <p>{% trans "Genome files which uploaded by users are used only for the services of perGENIE, e.g., RiskReport, and they are not used any other purposes." %}</p>

          <a href="https://www.iubenda.com/privacy-policy/126219" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="footer">
        <h5 class="transparent-text center">
          <div>&copy; 2012-2013 perGENIE Team</div>
        </h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}
