{% extends "frontend_layout.html" %}
{% block title %}Register{% endblock %}
{% block description %}account registration{% endblock %}
{% load staticfiles %}
{% load extras %}
{% load i18n %}

{% block main_container %}
<div class="row">
  <div class="col-md-12">
    <div class="content-box centered">

      <form class="form-signin" role="form" action="{% url apps.frontend.views.register %}" method="POST">
        {% csrf_token %}

        <div class="form-signin-heading">
          <a href="{% url apps.frontend.views.index %}"><img class="login_logo" src="{% static 'images/logo.png' %}"></a>
        </div>

        <input type="email" class="form-control" id="user_id" name="user_id" placeholder="Email">
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">

        {% if browser_language == "ja" %}
        私は、<a href="{% url apps.frontend.views.about_service %}" target="_blank">perGENIEのサービスについて</a>を読み
        {% else %}
        I read <a href="{% url apps.frontend.views.about_service %}" target="_blank">About service of perGENIE</a>, and
        {% endif %}

        <label class="checkbox">
          <input type="checkbox" id="terms_ok_0" name="terms_ok_0" value="terms_ok_0"> {% trans " I accept it." %}
        </label>
        <label class="checkbox">
          <input type="checkbox" id="terms_ok_1" name="terms_ok_1" value="terms_ok_1">
          {% trans " Especially, I accept that the services of perGENIE are NOT medical diagnosis; they are jsut experimental attempts." %}
        </label>

        {% if err %}
        <div class="alert alert-danger">
          <strong>Error!</strong> {{ err }}
        </div>
        {% endif %}

        <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans "Register" %}</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/disable.js' %}"></script>
<script>
DisableSubmit.init( { "name":["commit"] } );
</script>
{% endblock %}
