{% extends "frontend_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Register{% endblock %}
{% block description %}account registration{% endblock %}
{% load extras %}

{% block main_container %}
<section id="main">

  <div class="login-container">
    <div class="title"><a href="{% url apps.frontend.views.index %}"><img class="login_logo" src="{% static 'images/logo.png' %}"></a></div>

    <form class="login-form" action="{% url apps.frontend.views.register %}" method="POST" id="password-form">
	  {% csrf_token %}
      <ul class="fields-list">
        <li>
          <span class="glyphicon glyphicon-envelope-alt" style="float: left;"></span>
          <input autocomplete="off" id="email" name="user_id" placeholder="email" type="text">
        </li>
        <li>
          <span class="glyphicon glyphicon-key"></span>
          <input autocomplete="off" id="password1" name="password1" placeholder="password" type="password">
        </li>
        <li>
          <span class="glyphicon glyphicon-key"></span>
          <input autocomplete="off" id="password2" name="password2" placeholder="confirm password" type="password">
        </li>
      </ul>

      <div class="actions clearfix">
        {% if browser_language == "ja" %}
        私は、<a href="{% url apps.frontend.views.about_service %}" target="_blank">perGENIEのサービスについて</a>を読み
        {% else %}
        I read <a href="{% url apps.frontend.views.about_service %}" target="_blank">About service of perGENIE</a>, and
        {% endif %}
        <label>
          <input type="checkbox" id="terms_ok_0" name="terms_ok_0" value="terms_ok_0">
          {% trans " I accept it." %}
        </label>
        <label>
          <input type="checkbox" id="terms_ok_1" name="terms_ok_1" value="terms_ok_1">
          {% trans " Especially, I accept that the services of perGENIE are NOT medical diagnosis; they are jsut experimental attempts." %}
        </label>

        <input class="btn btn-green btn-large login-btn" name="commit" type="submit" value="{% trans "Register" %}">
      </div>

    </form>

    {% if err %}
    <div class="alert alert-error">
      <strong>Error!</strong> {{ err }}
    </div>
    {% endif %}

  </div>

</section>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="footer">
        <h5 class="transparent-text center">
          <div>&copy; 2012-2013 perGENIE Team</div>
        </h5>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="{% static 'js/disable.js' %}"></script>
<script>
DisableSubmit.init( { "name":["commit"] } );
</script>

{% endblock %}
