---
rollout_env: staging
http_server_host: staging.pergenie.org
http_server_name: "{{ http_server_host }}:80"

ssl_crt_file_path: /etc/pki/tls/certs/server.crt
ssl_key_file_path: /etc/pki/tls/private/server.key

ssh_port: 22

database_name: "{{ app_user }}"
database_user: "{{ app_user }}"
database_pass: "{{ app_user }}"
database_host: localhost
database_port: 5432

django_secret_key: secretkey_secretkey_secretkey_secretkey_secretkey_secretkey
django_allowed_host: "{{ http_server_host }}"

djnago_admin_user: "{{ app_user }}"
django_admin_email: "{{ app_user }}@{{ http_server_host }}"

django_error_notification_email: you@gmail.com

django_email_host: smtp.gmail.com
django_email_port: 000
django_email_user: you@gmail.com
django_email_pass: password


# (optional) Private files repo
# private_files_repo_url: git@github.com:user/repo.git
# private_files_repo_root: "{{ build_root }}/pergenie/private-files-repo"

# (optional) Backup server
# backup_server: backup_server_host_name
# backup_server_ssh_port: 22
