{% extends "layout.html" %}
{% load extras %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock %}
{% block description %}perGENIE dashboard{% endblock %}
{% load i18n %}

{% block main_container %}
<div class="row">
  <div class="col-md-12">

    <div class="content-box no-box-shadow transparent">

      <!-- <div class="content-box-header"> -->
      <!--   <span class="glyphicon glyphicon-dashboard"></span> {% trans "Components" %} -->
      <!-- </div> -->

      <a href="{% url apps.riskreport.views.index %}" role="button" class="btn btn-default btn-square" id="riskreport-button">
        <span class="glyphicon glyphicon-align-left icon-large"></span><br> RiskReport
      </a>

      {% if "population"|is_in_installed_my_apps %}
      <a href="{% url apps.population.views.index %}" role="button" class="btn btn-default btn-square" id="population-button">
        <span class="glyphicon glyphicon-globe icon-large"></span><br> Population<!-- <br> -->
        <!-- <span class="badge badge-blue">&nbsp;&beta;&nbsp;</span> -->
      </a>
      {% endif %}

      <!-- {% if "mygene"|is_in_installed_my_apps %} -->
      <!-- <a href="{% url apps.mygene.views.index %}" role="button" class="btn btn-default btn-lg" id="mygene-button"> -->
      <!--   <span class="glyphicon glyphicon-th-large"></span> MyGene -->
      <!--   <span class="badge badge-blue">&nbsp;&beta;&nbsp;</span> -->
      <!-- </a> -->
      <!-- {% endif %} -->

      <!-- {% if "mycatalog"|is_in_installed_my_apps %} -->
      <!-- <a href="{% url apps.mycatalog.views.index %}" role="button" class="btn btn-default btn-lg" id="mycatalog-button"> -->
      <!--   <span class="glyphicon glyphicon-th-large"></span> MyCatalog -->
      <!--   <span class="badge badge-blue">&nbsp;&beta;&nbsp;</span> -->
      <!-- </a> -->
      <!-- {% endif %} -->

      {% ifnotequal user.username|demouser_format "demo@pergenie.org" %}
      {% if "upload"|is_in_installed_my_apps %}
      <a href="{% url apps.upload.views.index %}" role="button" class="btn btn-default btn-square" id="upload-button">
        <span class="glyphicon glyphicon-arrow-up icon-large"></span><br> Upload
      </a>
      {% endif %}
      {% endifnotequal %}

      <a href="{% url apps.library.views.index %}" role="button" class="btn btn-default btn-square" id="library-button">
        <span class="glyphicon glyphicon-book icon-large"></span><br> Library
      </a>

      <a href="{% url apps.faq.views.index %}" role="button" class="btn btn-default btn-square" id="faq-button">
        <span class="glyphicon glyphicon-question-sign icon-large"></span><br> FAQ
      </a>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="content-box">
          <div class="content-box-header">
            <icon class="icon-bar-chart"></icon> {% trans "About Your Genome Files" %}
          </div>

          <div class="tabbable">
            <ul class="nav nav-tabs">
              {% if infos %}
              {% for info in infos %}
              <li{% ifequal forloop.counter0|add:1 1 %} class="active"{% endifequal %}><a href="#tab{{ forloop.counter0|add:1 }}" data-toggle="tab">File {{ forloop.counter0|add:1 }}</a></li>
              {% endfor %}
              {% else %}
              <li class="active"><a href="#tab1" data-toggle="tab">File 1</a></li>
              {% endif %}
            </ul>

            <div class="tab-content">

              {% if infos %}
              {% for info in infos %}
              <div class="tab-pane{% ifequal forloop.counter0|add:1 1 %} active{% endifequal %}" id="tab{{ forloop.counter0|add:1 }}">
                <div class="row">
                  <div class="col-md-12 padded uploaded_file">
                    {% trans "File name" %}: {{ info.raw_name }}
                    <table class="table table-bordered">
                      <tbody>

                        <tr>
                          <td class="center">
                            <p>{% trans "Import status:" %}</p>
                          </td>
                          <td class="center">
                            <div class="donut donut-big">

                              <div class="donut-arrow import-status" data-percentage="{{ info.status }}"></div>

                            </div>
                          </td>
                        </tr>
                    </table>


                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-unlock"></span>
                  {% if user %}{{ user.username|demouser_format }}{% endif %}
                  <b class="caret"></b></a>


                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            {% else %}
            <div class="tab-pane active" id="tab1">
              <div class="row">
                <div class="col-md-12">
                  <p><b>{% trans "File name" %}</b>:</p>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td class="center">
                          <p>{% trans "Import status:" %}</p>
                        </td>
                        <td class="center">
                          <div class="donut donut-big">
                            <div class="donut-arrow" data-percentage="0"></div>
                          </div>
                        </td>
                      </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="content-box">
        <div class="content-box-header">
          <span class="glyphicon glyphicon-retweet"></span> {% trans "Recently Added Studies" %}
        </div>

        {% if recent_catalog_records %}
        <div class="row">
          <div class="col-md-12">
            {% for record in recent_catalog_records %}
            <div class="article">
              <div class="post-info"> {{ record.added|date }} </div>
              <div class="post-content">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <b>{% trans "Trait: " %}</b><!-- <a href="{% url apps.library.views.trait trait=record.trait %}"> -->{{ record.trait }}<!-- </a> -->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>{% trans "Study: " %}</b>{{ record.study }} <span class="badge badge-yellow"><a href="{{ record.pubmed_link }}" target="_blank">Pubmed</a></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            {% endfor %}
            <!-- <li class="comment-box view-more" style="text-align: center"> -->
            <!--   <a href="#">View more...</a> -->
            <!-- </li> -->
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block js %}
<link href="{% static 'css/introjs.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/intro.js' %}"></script>
<script type="text/javascript">
    function startIntro(){

        var intro_type = '{{ intro_type }}';

        var intro_contents = {
            'demo_welcome': {
                steps: [
                    {
                        element: document.querySelectorAll('.content-box')[0],
                        intro: "{% trans 'Welcome to perGENIE!' %}"
                    },
                    {
                        element: document.querySelectorAll('.content-box')[1],
                        intro: "{% trans 'Genome files are already uploaded for demo users.' %}",
                        position: 'right'
                    },
                    {
                        element: document.querySelector('#riskreport-button'),
                        intro: "{% trans 'So, you can check disease risk report, right now!' %}",
                        position: 'right'
                    }
                ]
            },

            'demo_invitation': {
                steps: [
                    {
                        element: document.querySelectorAll('.content-box')[0],
                        intro: "{% trans 'Did you have fun with perGENIE?' %}"
                    },
                    {
                        element: document.querySelector('.navbar-right'),
                        intro: "{% trans 'Thanks for trying this demo!' %}",
                    }
                ]
            },

            'welcome': {
                steps: [
                    {
                        element: document.querySelectorAll('.content-box')[0],
                        intro: "{% trans 'Welcome to perGENIE!' %}"
                    },
                    {
                        element: document.querySelectorAll('.content-box')[1],
                        intro: "{% trans 'You have no genome files uploaded.' %}",
                        position: 'right'
                    },
                    {
                        element: document.querySelector('#upload-button'),
                        intro: "{% trans 'So, first, upload your genome file!' %}",
                    }
                ]
            },

            'wait_upload': {
                steps: [
                    {
                        element: document.querySelectorAll('.content-box')[1],
                        intro: "{% trans 'Please wait until your genome file uploaded...' %}",
                        position: 'right'
                    }
                ]
            },

            'finish_upload': {
                steps: [
                    {
                        element: document.querySelector('#riskreport-button'),
                        intro: "{% trans 'Browse your Risk Report!' %}"
                    }
                ]
            }
        };

        // init
        var intro = introJs();
        intro.setOptions(intro_contents[intro_type]);
        intro.start();
    }
</script>
<script type="text/javascript">$(function(){startIntro();});</script>

<link href="{% static 'css/donuts.css' %}" rel="stylesheet">
<script src="{% static 'js/donuts.js' %}"></script>

<script type="text/javascript">window.upload_status_url = "{% url apps.upload.views.status %}";</script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
